*{
    outline: none;
}
// Start slick slider
.b_slider--wrapper {
    .slick-arrow {
        position: absolute;
        top: 42%;
        margin-top: -30px;
        width: 20px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.2s;
        background-color: transparent;
        outline: none;
    }
    .slick-prev{
        background-image: url(/img/svg/arrows/arrow-blue-large-left.svg);
        left: -32px;
        &:hover{
        left: -34px;
        background-image: url(/img/svg/arrows/arrow-blue-large-left-hover.svg);
        }
    }
    .slick-next{
        background-image: url(/img/svg/arrows/arrow-blue-large-right.svg);
        right: -32px;
        &:hover{
        right: -34px;
        background-image: url(/img/svg/arrows/arrow-blue-large-right-hover.svg);
        }
    }
    .slick-dots{
        display: block;
        text-align: center;
        font-size: 0;
        padding-top: 20px;
        margin: auto;
        li{
            display: inline-block;
            height: 21px;
            width: 21px;
            padding: 7px;
            text-align: center;
            cursor: pointer;
            font-size: 0;
            outline: none;
        }
        button{
            display: inline-block;
            width: 7px;
            height: 7px;
            background: #C4C4C4;
            border-radius: 50%;
            transition: background 0.35s;
            outline: none;
            &:hover{
                background: #265197;
            }
        }
        .slick-active button{
            background: #265197;
        }
    }
}
// Finish slick slider

// Projects slider block
.b_slider--list{
    overflow: unset !important;
}
.b_projects--text{
    min-height: 82px;
}
.b_slider--item{
    padding: 10px;
}
.block__slider.__hidden{
    display: none;
    /* visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; */
}
.b_slider--list[cost="6"] .b_slider--item:last-child{
    display: block;
}
// Finish projects slider block

// Gallery slider in product page
.gallery-slider{
    position: relative;
    .slick-arrow{
        position: absolute;
        display: inline-block;
        top: 0;
        width: 15px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: 6px;
        background-color: transparent;
        cursor: pointer;
    }
    .slick-prev{
        left: 0;
        background-position: left center;
        background-image: url(/img/svg/arrows/arrow-blue-big-left-hover.svg);
    }
    .slick-next{
        right: 0;
        background-position: right center;
        background-image: url(/img/svg/arrows/arrow-blue-big-right-hover.svg);
    }
}
// Finish Gallery slider in product page

// Modal window
.modal{
    margin: 6% auto 6%;
    background-color: #fff;
    position: relative;
    &-bg{
        display: block;
        background: rgba(30, 30, 30, .9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        overflow: auto;
        &.hidden{
            display: none;
        }
    }
    &-inner{
        padding: 25px 20px 30px;
    }
}
.modal__close, .modal__close__line{
    transition: .5s;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
    &.--inner-btn{
        background-color: transparent;
        transform: translate(-12px, 12px);
        .modal-close__line{
            background-color: #333;
            width: 18px;
            border-radius: 30%;
        }
        &:hover{
            .modal-close__line{
                background-color: #000;
            }
        }
    }
    &.--out-btn{
        transform: translate(100%, 0%);
        background-color: #2F4E80;
        .modal-close__line{
            background-color: #fff;
            width: 22px;
        }
        &:hover{
            background-color: rgb(36, 60, 99);
            .modal-close__line{
                background-color: #ffefaf;
            }
        }
    }
}

.modal-close__line{
    height: 2px;
    display: block;
    position: absolute;
    top: 17px;
    left: 7px;
    &:first-child{
        transform: rotate(45deg);
    }
    &:last-child{
        transform: rotate(-45deg);
    }
}

.modal__title{
    font-size: 26px;
    line-height: normal;
    &.--center{
        text-align: center;
    }
    &.--right{
        text-align: right;
    }
    &.--blue-text{
        color: #2F4E80;
    }
}
.modal__line{
    border-bottom: 1px solid #2F4E80;
    margin: 20px 0;
}
.modal__description{
    font-size: 15px;
    padding: 0 5px;
    text-align: center;
}
.modal__form{
    padding-top: 20px;
    &__field{
        display: block;
        width: 100%;
        border: 1px solid #dbdbdb;
        padding: 12px 20px;
        font-size: 14px;
        margin-bottom: 20px;
    }
}
textarea.modal__form__field{
    height: 150px;
}
.button{
    &:disabled{
        background-color: lighten(#F5DA5A, 10%) !important;
        cursor: default;
        &:hover:after{
            height: 0;
            opacity: 0;
        }
    }
}

// Modals
.modal-call-order{
    .modal{
        width: 340px;
    }
}
.modal-ordering{
    .modal{
        width: 825px;
    }
    .b_delivery-wrapper-slider{
        margin-top: 20px;
    }
    .rangeslider{
        width: 90%;
        margin: auto;
        position: relative;
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            top: -7px;
            border-bottom: 2px solid #344f7c;
            border-right: 2px solid #344f7c;
            border-radius: 2px;
            width: 15px;
            height: 15px;
            opacity: .6;
        }
        &:before{
            transform: rotate(135deg);
            left: -20px;
        }
        &:after{
            transform: rotate(-45deg);
            right: -20px;
        }
    }
    @media(max-width: 900px){
        .modal{
            width: 96%;
        } 
        .b_product-ordering--price{
            width: 130px;
        }
    }
    @media(max-width: 768px){
        .b_product-ordering--grid{
            flex-wrap: wrap;
        }
        .b_product-ordering_grid--left, .b_product-ordering_grid--right{
            width: 100%;
        }
        .b_product-ordering_grid--right{
            padding-left: 92px;
            justify-content: space-between;
        }
        .b_product-ordering--information{
            margin-left: 20px;
        }
        .m_ordering-hr{
            margin-top: 40px;
        }
        .b_ordering-total-price{
            &:before{
                display: none;
            }
            .b_superiority--text{
                width: 160px;
            }
        }
        .m_ordering-delivery--tabs-header, .b_delivery-content--item-inner{
            padding: 5px 20px;
        }
        .m_ordering-delivery--tabs-header{
            .slick-track{
                display: flex;
                flex-direction: column;
                transform: translate3d(0, 0px, 0px) !important;
            }
            .delivery__label:nth-child(2){
                transform: translateX(0);
            }
            .delivery__label{
                margin: 10px 0;
                width: 100% !important;
            }
        }
        .--child-select-block-inline .selectric-wrapper{
            width: auto;
        }
    }
    @media(max-width: 480px){
        .b_ordering-contact-form-inner--left, .b_ordering-contact-form-inner--right{
            width: 100%;
            padding: 0;
        }
        .b_ordering-contact-form-inner--bottom{
            flex-direction: column;
        }
        .b_ordering-contact-form .button{
            width: 100%;
            margin-top: 20px;
        }
        .b_product-ordering_grid--right{
            padding-left: 0;
        }
    }
    @media(max-width: 370px){
        .b_ordering-total-price{
            flex-direction: column;
            align-items: flex-start;
        }
        .b_ordering-total-price--sum{
            margin-top: 10px;
        }
    }
}
.delivery__label{
    font-size: 14px;
    font-family: Roboto-Regular, sans-serif;
    font-weight: normal;
    line-height: 20px;
    display: block;
    position: relative;
    padding-left: 4px;
    cursor: pointer;
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #C4C4C4;
    }
    &.slick-current:after{
        border: 1px solid #265197;
        background: radial-gradient( #265197, #265197 40%, #fff 52%);
    }
    input{
        visibility: hidden;
    }
    &:nth-child(2){
        transform: translateX(-50px);
    }
}
.m_ordering-delivery--tabs-header, .b_delivery-content--item-inner{
    background: #F7F8FC;
    padding: 27px 32px;
}
.m_ordering-hr{
    height: 1px;
    background-color: #DBDEE3;
}
.b_product-ordering{
    margin-top: 40px;
    margin-bottom: 34px;
}
.b_product-ordering--grid{
    display: flex;
}
.b_product-ordering_grid--left{
    width: 54%;
    display: flex;
}
.b_product-ordering_grid--right{
    width: 46%;
    display: flex;
    justify-content: flex-end;
}
.b_product-ordering--image-wrapper{
    width: 72px;
    .product-image{
        width: 100%;
        margin-top: 4px;
    }
}
.b_product-ordering--information{
    margin-left: 30px;
}
.b_product-ordering--title{
    font-size: 14px;
    font-family: Roboto-Bold, sans-serif;
    /* font-weight: 600; */
    line-height: 24px;
}
//List
.b_product-ordering--list{
    margin-top: 23px;
    margin-bottom: 21px;
}
.b_product-ordering--list-item{
    font-size: 12px;
    font-family: Roboto-Regular, sans-serif;
    line-height: 30px;
}
.b_product-ordering--value{
    color: #2f4e80;
}
//Finish list
.b_ordering-total-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 26px 0;
    &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 1px;
        border-bottom: 2px dotted #dfdfdf;
    }
    &>*{
        margin: 0;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }
}
.b_ordering-total-price--sum{
    font-family: Roboto-Regular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.b_product-ordering--buttons-count{
    height: 35px;
    .field-product-count{
        border: 1px solid #e5e8ee;
        width: 55px;
        height: inherit;
        text-align: center;
        font-size: 14px;
    }
    .btn-minus, .btn-plus{
        width: 35px;
        height: inherit;
        background-color: #e5e8ee;
        border: 1px solid #e5e8ee;
        color: #2F4E80;
        font-size: 20px;
        cursor: pointer;
    }
    .btn-minus{
        padding-bottom: 14px;
    }
}
.b_product-ordering--price{
    display: flex;
    flex-direction: column;
    width: 160px;
    &>*{
        display: block;
        text-align: right;
    }
    .present-price{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .old-price{
        font-size: 11px;
        color: #B91818;
        text-decoration: line-through;
    }
}
.modal-ordering__contact-form-wrapper{
    margin-top: 37px;
    margin-bottom: 10px;
}
.b_ordering-contact-form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    textarea.modal__form__field{
        height: 106px;
    }
    .button{
        width: 255px;
    }
}
.b_ordering-contact-form-inner--left{
    width: 50%;
    padding-right: 10px;
}
.b_ordering-contact-form-inner--right{
    width: 50%;
    padding-left: 10px;
}
.b_ordering-contact-form-inner--bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    .b_superiority--text{
        margin: 0 10px 0 0;
        max-width: 470px;
        color: #BFBFBF;
    }
    .link{
        font-size: 12px;
        line-height: 20px;
        border: none;
    }
}

// Selectric plugin
.selectric{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 30px;
    color: #000;
    line-height: 30px;
    font-size: 13px;
    background-color: #E0E4EB;
    background-image: url(/img/svg/arrows/dropdown-arrow-top.svg);
    background-repeat: no-repeat;
    background-position: 95% 44%;
    border: none;
    border-bottom: 1px solid #2F4E80;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.selectric .label{
    line-height: 28px;
    height: 100%;
    margin: 0;
}
.selectric .button{
    display: none;
}
.selectric.__active, .selectric:hover, .selectric:focus, .selectric-open .selectric, .selectric-focus .selectric{
    background-color: #2F4E80;
    background-image: url(/img/svg/arrows/dropdown-arrow-top-white.svg);
    .label{
        color: #fff;
    }
}
.selectric-items{
    border: none;
}
.selectric-items li{
    padding: 2px 10px 4px 30px;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
}
.selectric-items li.selected{
    background-image: url(/img/svg/check-mark.svg);
    background-repeat: no-repeat;
    background-position: 10px 44%;
    background-size: 13px;
}

// Filter block
.b_filter--body{
    flex-wrap: wrap;
}
.b_filter--footer{
    background-color: inherit;
}
.b_specification--label{
    height: 48px;
    transition: .5s;
    &.hidden{
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
    }
}
.b_list-all-manufactures__wrapper{
    width: 100%;
    padding: 10px;
    background-color: #edf0f6;
    border-top: 1px solid #2f4e80;
}
.b_list-all-manufactures{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.b_controls-buttons{
    .link{
        margin-right: 20px;
    }
}
.b_manufactures__item{
    .b_filter--label{
        line-height: 28px;
        display: flex;
        align-items: center;
    }
}
.b_filter--checkboxes .b_filter--checkbox + I{
    margin-top: 1px;
}
.b_filter--button.__tag{
    margin-bottom: 5px;
}

.--child-select-block-inline .selectric-wrapper{
    display:inline-block;
    margin-left: 14px;
    margin-top: -4px;
    margin-bottom: 20px;
    width: 270px;
}
@media(max-width:1126px){

    .b_filter--body{
        display: flex;
    }
    .b_filter--layout.__manufacturers{
        order: 1;
    }
    .b_filter--layout.__specification{
        order: 3;
    }
    .b_list-all-manufactures__wrapper{
        padding-left: 0;
        padding-right: 0;
        order: 2;
    }
}
@media(min-width:992px){
    .b_manufactures__item{
        width: 20%;
    }
}
@media(min-width:769px) and (max-width:991px){
    .b_manufactures__item{
        width: 25%;
    }
}
@media(max-width:481px) and (max-width:768px){
    .b_manufactures__item{
        width: 33.333%;
    }
}
@media(max-width:480px){
    .b_manufactures__item{
        width: 50%;
    }
}