/** Template Generator: https://grid.layoutit.com **/
/** Functions : Start **/
/** Functions : End **/
@media all {
  /** Desktop: Start **/
  .device {
    content: 'Desktop';
  }
  .mod__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 7;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 2;
    grid-column-end: 10;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 7;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 2;
    grid-column-end: 9;
  }
  .mod__grid.__dual {
    display: block;
    font-size: 0;
  }
  .mod__grid.__dual .m_grid--column {
    display: inline-block;
    width: 50%;
  }
  /** Tablet: Start **/
  /** Tablet: End **/
  /** SmartPhone: Start **/
  /** SmartPhone: End **/
}
@media all and (-ms-high-contrast: none) {
  .mod__grid {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 1;
    -ms-grid-col-span: 6;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 7;
    -ms-grid-col-span: 3;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 1;
    -ms-grid-col-span: 3;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 4;
    -ms-grid-col-span: 3;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 7;
    -ms-grid-col-span: 2;
  }
}
@media all and (max-width: 768px) {
  .device {
    content: 'Tablet';
  }
  .mod__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .mod__grid.__a6b3,
  .mod__grid.__l3m2s1 {
    grid-template-areas: "A A A B B B";
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(1),
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(2),
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 7;
  }
  .mod__grid.__l3m2s1 .m_grid--column:nth-child(3) {
    display: none;
  }
}
@media all and (max-width: 768px) and (-ms-high-contrast: none) {
  .mod__grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(1),
  .mod__grid.__a3b3c3 .m_grid--column:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 1;
    -ms-grid-col-span: 3;
  }
  .mod__grid.__a6b3 .m_grid--column:nth-child(2),
  .mod__grid.__a3b3c3 .m_grid--column:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 4;
    -ms-grid-col-span: 3;
  }
}
@media all and (max-width: 576px) {
  .device {
    content: 'Phone';
  }
  .mod__grid {
    grid-template-columns: none;
  }
  .mod__grid.__a6b3,
  .mod__grid.__l3m2s1 {
    display: block;
    width: 100%;
  }
  .mod__grid.__a6b3 .m_grid--column,
  .mod__grid.__l3m2s1 .m_grid--column {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 576px) and (-ms-high-contrast: none) {
  .mod__grid {
    -ms-grid-columns: none;
  }
  .mod__grid.__a6b3,
  .mod__grid.__l3m2s1 {
    display: block;
    width: 100%;
  }
  .mod__grid.__a6b3 .m_grid--column,
  .mod__grid.__l3m2s1 .m_grid--column {
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=grid.css.map */