
/** Template Generator: https://grid.layoutit.com **/



/** Functions : Start **/

.for__web-kit(@row-start, @column-start, @row-end, @column-end )
{
  grid-row-start: @row-start;
  grid-column-start: @column-start;
  grid-row-end: @row-end;
  grid-column-end: @column-end;
}

.for_ms( @row, @row-span, @col, @col-span )
{
  -ms-grid-row: @row;
  -ms-grid-row-span: @row-span;
  -ms-grid-col: @col;
  -ms-grid-col-span: @col-span;
}

/** Functions : End **/



@media all {


  /** Desktop: Start **/
  .device { content: 'Desktop' }

  .mod__grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    &.__a6b3
    {
      .m_grid--column:nth-child(1) { .for__web-kit( 1,1, 2, 7 ) }
      .m_grid--column:nth-child(2) { .for__web-kit( 1, 7, 2, 10) }
    }
    &.__a5b4
    {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .m_grid--column:nth-child(1) { .for__web-kit( 1, 1, 2, 8 ) }
      .m_grid--column:nth-child(2) { .for__web-kit( 1, 8, 2, 13) }
    }
    &.__l3m2s1
    {
      .m_grid--column:nth-child(1) { .for__web-kit( 1, 1, 2, 4 ) }
      .m_grid--column:nth-child(2) { .for__web-kit( 1, 4, 2, 7) }
      .m_grid--column:nth-child(3) { .for__web-kit( 1, 7, 2, 9) }
    }

    &.__dual,
    &.__trio {
      font-size: 0;
      grid-template-columns: none;
      grid-template-rows: none;
      display: flex;
      align-items: end;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &.__dual {

      .m_grid--column{
        display: inline-block;
        width: 47.5%;
      }
    }
    &.__trio {

      .m_grid--column{
        display: inline-block;
        width: 33.33%;
      }
    }
  }


  @media (-ms-high-contrast:none)
  {
    .mod__grid
    {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      &.__a6b3
      {
        .m_grid--column:nth-child(1) { .for_ms(1,1,1,6) }
        .m_grid--column:nth-child(2) { .for_ms(1,1,7,3) }
      }
      &.__a5b4
      {
        .m_grid--column:nth-child(1) { .for_ms(1,1,1,5) }
        .m_grid--column:nth-child(2) { .for_ms(1,1,6,5) }
      }
      &.__l3m2s1
      {
        .m_grid--column:nth-child(1) { .for_ms(1,1,1,3) }
        .m_grid--column:nth-child(2) { .for_ms(1,1,4,3) }
        .m_grid--column:nth-child(3) { .for_ms(1,1,7,2) }
      }

    }
  }

  /** Desktop: Start **/
  @media (max-width: 1126px)
  {
    .device { content: 'Tablet' }

    .mod__grid
    {

      &.__a6b3, &.__a5b4, &.__l3m2s1
      {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "A A A B B B";

        .m_grid--column:nth-child(1) { .for__web-kit( 1, 1, 2, 4) }
        .m_grid--column:nth-child(2) { .for__web-kit( 1, 4, 2, 7) }
      }
      &.__l3m2s1{
        .m_grid--column:nth-child(3){ display: none; }
      }

      &.__dual {

        .m_grid--column {
          display: block;
          width: 100%;
        }
      }
    }

    @media (-ms-high-contrast:none)
    {
      .mod__grid
      {
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        &.__a6b3, &.__a3b3c3
        {
          .m_grid--column:nth-child(1) { .for_ms(1,1,1,3) }
          .m_grid--column:nth-child(2) { .for_ms(1,1,4,3) }
        }
      }

    }
  }
  /** Desktop: End **/



  /** Tablet: Start **/
  @media (max-width: 768px)
  {
    .device { content: 'Phone' }

    .mod__grid
    {
      grid-template-columns: none;
      display: block;
      width: 100%;

      .m_grid--column{
        display: block;
        width: 100%;
      }

      &.__trio
      {
        .m_grid--column {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
      }

    }

    @media (-ms-high-contrast:none)
    {
      .mod__grid
      {
        -ms-grid-columns:none;

        &.__a6b3, &.__l3m2s1
        {
          display: block;
          width: 100%;
          .m_grid--column{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  /** Tablet: End **/


}