.block__overlay {
  display: block;
  width: 100%;
}
.b_overlay--wrapper {
  display: block;
}
.b_overlay--body {
  display: block;
  width: 1126px;
  margin: 0 auto;
  font-size: 0;
}
.b_overlay--footer {
  display: block;
  font-size: 0;
  background-color: #2F4E80;
}
.b_overlay--layout {
  display: inline-block;
  width: 100%;
  font-size: 0;
}
.b_overlay--layout.__left {
  width: 270px;
  margin-right: 30px;
  background-color: #E5E8EE;
}
.b_overlay--layout.__right {
  width: 826px;
  padding-top: 20px;
  background-color: #EDF0F6;
}
.b_overlay--page {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  BODY .b_overlay--layout.__right {
    width: 100%;
  }
  BODY .b_overlay--layout.__left {
    display: none;
    width: 100%;
  }
}
/** Desktop: End **/
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_overlay--body {
    width: 100%;
    padding: 0 39px;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_overlay--body {
    padding: 0 15px;
  }
}
/** Tablet: End **/
/*# sourceMappingURL=overlay.css.map */