
.block__overlay {
  display: block;
  width: 100%;
}

.b_overlay--wrapper {
  display: block;
}

.b_overlay--page {
  display: flex;
  width: 1126px;
  margin: 0 auto;
  font-size: 0;

  &.__print {
    display: block !important;
    width: 826px !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
}

.b_overlay--footer {
  display: block;
  padding-bottom: 30px;
  font-size: 0;
  background-color: #2F4E80;
}

.b_overlay--layout {
  display: inline-block;
  width: 100%;
  font-size: 0;

  &.__left {
    width: 270px;
    margin-right: 30px;
    padding-top: 15px;
    background-color: #E5E8EE;
  }

  &.__right {
    width: 100%;
    padding-top: 35px;
  }

  &.__widgets{
    padding: 0 15px;
  }
}

.b_overlay--body {
  display: block;
  width: 100%;
}

.b_overlay--button.__burger {
  display: none;
  width: 30px;
  padding-top: 30px;
  color: #1B3866;
  line-height: 20px;
  font-size: 12px;
  text-align: left;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("/img/svg/burger-blue.svg");
  cursor: pointer;
}

.b_overlay--link {
  display: inline-block;
  width: 90%;
  margin: 0 5%;
}
.b_overlay--img {
  max-width: 100%;
}

BODY.__width
{
  & > .block__overlay {
    padding: 0 10px;

    & > .b_overlay--page#page{
      display: flex;
      width: 100%;
      max-width: 1126px;
      margin: 0 auto;
    }
  }
}

.b_overlay--mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #000;
  transition: opacity 1250ms;
  opacity: 0;
  z-index: 149;
}
.block__overlay.__mask
{
  .b_overlay--layout
  {
    &.__left
    {
      &.__open {
        z-index: 999;
      }
    }
  }
  .b_overlay--mask {
    bottom: 0%;
    opacity: .1;
  }
}




@media (min-width: 1127px)
{
  .block__overlay {
    padding: 0;
  }
  .b_overlay--page#page {
    display: flex;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
  }

  .b_overlay--page {
    padding-right: 15px;
  }

}

/** Desktop: Start **/
@media (max-width: 1126px)
{
  BODY .b_overlay--page {
    display: block;
    width: 100%
  }

  BODY .b_overlay--layout {

    &.__left {
      position: absolute;
      top: 0;
      bottom: 100%;
      width: 100%;
      margin-right: 0;
      padding-left: 0;
      background-color: transparent;
    }

    &.__right {
      position: relative;
      width: 100%;
    }
  }

  .b_overlay--layout {
    &.__menu {
      display: none;
    }
  }

  .b_overlay--button.__burger {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30%;
    margin-right: 0;
  }

  .b_overlay--link {
    display: inline-block;
    width: 70%;
    margin: 0;

    IMG {
      width: auto;
      height: 55px;
    }
  }

  .b_overlay--body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .b_header--overlay {

    &.__footer {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap-reverse;

      .block__search {
        display: block;
        width: 100%;

        .b_search--layout {
          &.__button {
            position: relative;
          }
        }
      }

    }
  }

}
/** Desktop: End **/



/** Mobile: Start **/
@media (max-width: 768px)
{
  BODY .b_overlay--layout {
    &.__left {
      width: 100%;
      padding: 0;
    }
  }
/*
  .block__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    display: block;
    width: 100%;
    right: auto;
    background: #2F4E80;
    transition: all .35s;
  }*/

  BODY.__menu
  {
    .block__menu {
      left: 0;
    }
  }


  BODY .b_overlay--body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .b_header--overlay
  {
    &.__footer {

      .block__nav {
        display: none;
      }
    }
  }
}
