BODY.design-desktop,
BODY.design-tablet,

BODY.design-phone{
  background-position: center top;
  background-repeat: no-repeat;
}

BODY.design {
  background-position: top center;
  background-image: url("/design/main/desktop.png");

  &.__catalog { background-image: url("/design/catalog/desktop.png"); }
  &.__product { background-image: url("/design/product/desktop.png"); }
}

@media (max-width: 768px) {

  BODY.design {
    background-image: url("/design/main/tablet.png");

    &.__catalog { background-image: url("/design/catalog/tablet.png"); }
    &.__product { background-image: url("/design/product/tablet.png"); }

  }

}

@media (max-width: 576px) {

  BODY.design {
    background-image: url("/design/main/mobile.png");

    &.__catalog { background-image: url("/design/catalog/mobile.png"); }
    &.__product { background-image: url("/design/product/mobile.png"); }
  }
}


BODY.design * {
  background-color: transparent !important;
}