.f_add--text( @name, @font-size, @line-height )
{
  .@{name}
  {
    display: inline-block;
    line-height: @line-height;
    font-size: @font-size;

    &.__header, B
    {
      display: inline-block;
      line-height: @line-height;
      font-size: @font-size;
      font-weight: 500;
      font-family: "Roboto-Medium", sans-serif;
    }
  }
}

BODY {

  color: #000;

  .f_add--text( text-12_20,  12px, 20px );
  .f_add--text( text-13_20,  13px, 20px );
  .f_add--text( text-13_20,  13px, 22px );
  .f_add--text( text-14_20,  14px, 20px );
  .f_add--text( text-14_25,  14px, 25px );
  .f_add--text( text-16_24,  16px, 24px );
  .f_add--text( text-18_24,  18px, 24px );
  .f_add--text( text-20_25,  20px, 25px );
  .f_add--text( text-20_30,  20px, 30px );
  .f_add--text( text-22_30,  22px, 30px );
  .f_add--text( text-24_28,  24px, 28px );
  .f_add--text( text-30_35,  30px, 35px );
  .f_add--text( text-30_50,  30px, 50px );
  .f_add--text( text-40_50,  40px, 50px );

  .__header {
    &.__block {
      display: block;
    }
  }
}

/** Tablet: Start **/
@media (max-width: 768px)
{
  BODY {
    .f_add--text( text-30_50,  30px, 35px );
  }

}
/** Tablet: End **/