.block__document {
  display: block;
  margin-bottom: 30px;
}
.b_document--wrapper {
  display: block;
  width: 100%;
}
.b_document--wrapper.__trio {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
.b_document--wrapper.__trio .b_document--item {
  display: inline-block;
  width: 30%;
  margin-bottom: 60px;
}
.b_document--head {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.b_document--head.__block .b_document--title {
  display: block;
  margin-bottom: 20px;
}
.b_document--head.__block .link {
  position: relative;
  top: auto;
  right: auto;
}
.b_document--title {
  display: inline-block;
  line-height: 28px;
  font-size: 24px;
  font-weight: 600;
}
.b_document--item {
  position: relative;
  display: block;
  min-height: 155px;
  margin-left: 20px;
  background-color: #2F4E80;
}
.b_document--item.__land .b_document--name {
  width: 100%;
  padding: 85px 15px 20px 15px;
}
.b_document--item:hover .b_document--layout {
  filter: none;
}
.b_document--layout {
  position: absolute;
  top: -20px;
  left: -20px;
  display: inline-block;
  filter: grayscale(100%);
}
.b_document--img {
  display: inline-block;
}
.b_document--name {
  position: relative;
  display: inline-block;
  padding: 20px 15px 20px 95px;
  color: #FFF;
  line-height: 20px;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  z-index: 7;
}
.b_document--name:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.b_document--text {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: inline-block;
  color: #385A91;
  line-height: 22px;
  font-size: 28px;
  font-weight: 900;
  z-index: 3;
}
BODY .block__document A.link {
  position: absolute;
  top: 10px;
  right: 0;
}
