.block__hint {
  position: absolute;
  width: 15px;
  height: 30px;
  display: inline-block;
}
.block__hint:hover .b_hint--window {
  display: inline-block;
}
.b_hint--button {
  position: absolute;
  top: -5px;
  left: -5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/hint-gray.svg");
  cursor: help;
}
.b_hint--window {
  position: absolute;
  display: none;
  top: 20px;
  left: -20px;
  width: 200px;
  height: auto;
  padding: 20px 10px 10px 10px;
  background-color: #2F4E80;
  z-index: 999;
  transition: all .35s;
}
.b_hint--window:before {
  position: absolute;
  top: -5px;
  left: 17px;
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #2F4E80;
  transform: rotate(45deg);
}
.b_hint--text {
  display: block;
  height: auto;
  width: 100%;
  color: #fff;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
