.block__preview {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.b_preview--wrapper {
  background: rgba(222, 228, 237, 0.51);
  border-top: 1px solid #f7f8fc;
  border-left: 1px solid #f7f8fc;
}
.b_preview--link {
  display: block;
  width: 100%;
  height: 155px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  text-decoration: none;
  border-bottom: 1px solid #f7f8fc;
  border-right: 1px solid #f7f8fc;
  transition: all .35s;
}
.b_preview--link.__large {
  height: 310px;
  background-size: cover;
  background-position: -170px 60%;
}
.b_preview--link.__large:hover {
  background-position-x: -130px;
}
.b_preview--link:hover {
  background-color: #DEE4ED;
  background-position-x: 110%;
}
.b_preview--link:hover .b_preview--name {
  padding-left: 40px;
}
.b_preview--name {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 25%;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 22px;
  transition: all .35s;
}
.b_preview--name SUB {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
/** SmartPhone: Start **/
@media (max-width: 1126px) {
  BODY .mod__grid.__a5b4 .m_grid--column .b_preview--link {
    height: 135px;
  }
  BODY .mod__grid.__a5b4 .m_grid--column .b_preview--link.__project {
    background-image: url("/img/services/progect-energo-system-small.png") !important;
  }
  BODY .mod__grid.__a5b4 .m_grid--column .b_preview--link.__setups {
    background-image: url("/img/services/startsetup-work-setup-generator-small.png") !important;
  }
}
/** SmartPhone: End **/
@media (max-width: 768px) {
  .b_preview--name {
    padding-right: 20%;
  }
}
