.sticker {
  position: absolute;
  top: 20px;
  left: -10px;
  width: auto;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  background: #C45B55;
}
.sticker:after,
.sticker:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  display: block;
  width: 5px;
  height: 25px;
  background: #C45B55;
}
.sticker:after {
  transform: skewX(15deg);
}
.sticker:before {
  transform: skewX(-15deg);
}
.block__slider.__table .b_product--head .sticker {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}
