.table {
  width: 100%;
  margin: 30px 0;
  background-color: #EDF0F6;
  border-collapse: collapse;
}
.table THEAD TH {
  background-color: #2F4E80;
  text-align: center;
  line-height: 25px;
}
.table THEAD TH.light {
  background-color: #3D5C8D;
}
.table THEAD TH.head {
  line-height: 30px;
  font-size: 14px;
  background-color: #213C68;
}
.table THEAD * {
  color: #fff;
  line-height: 20px;
  font-size: 12px;
}
.table THEAD TR.padding TH {
  padding-top: 5px;
  line-height: 15px;
}
.table THEAD TR.padding TH.main {
  padding: 10px 0 0 15px;
  text-align: left;
}
.table THEAD TR.padding:last-child TH {
  padding: 0 0 5px 0;
}
.table TBODY TR TD {
  padding: 10px;
  color: #1B3866;
  line-height: 15px;
  font-size: 13px;
  background-color: #EDF0F6;
  text-align: left;
  vertical-align: top;
}
.table TBODY TR TD:first-child {
  padding: 10px 15px;
  color: #000;
  line-height: 15px;
  font-size: 13px;
}
.table TBODY TR TD.notice {
  color: #000;
  text-align: center;
  vertical-align: middle;
}
.table TBODY TR:nth-child(odd) TD {
  background-color: #DFE3EA;
}
.table TBODY TR:nth-child(odd) TD:first-child {
  background-color: #DFE3EA;
}
.table TBODY TR:nth-child(odd) TD.light {
  background-color: #E5E8EE;
}
.table TBODY TR:nth-child(even) TD {
  background-color: #E7EBF3;
}
.table TBODY TR:nth-child(even) TD:first-child {
  background-color: #E7EBF3;
}
.table TBODY TR:nth-child(even) TD.light {
  background-color: #EDF0F6;
}
