.block__trio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.b_trio--item {
  display: block;
  width: 30%;
}
.b_trio--preview {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
}
.b_trio--preview.__icon {
  height: 130px;
  padding: 20px;
}
.b_trio--preview.__icon .b_trio--img {
  display: block;
  height: 100%;
  width: auto;
}
.b_trio--img {
  display: block;
  width: 100%;
}
.b_trio--link {
  display: block;
  width: 100%;
  color: #2F4E80;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
  text-decoration: none;
}
.b_trio--link.__underline {
  text-decoration: underline;
}
.b_trio--text {
  display: block;
  width: 100%;
  color: #000;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .block__trio {
    display: block;
  }
  .b_trio--item {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
}
/** Tablet: End **/
