HTML,
BODY {
  background: #F7F8FC;
  font-family: "Roboto-Regular", sans-serif;
}
.clear {
  display: block;
  width: 100%;
  clear: both;
}
.button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #F5DA5A;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all .35s;
}
.button:hover {
  background: #F5CA5A;
}
.button:hover:after {
  height: 3px;
  opacity: .2;
}
.button.__bold {
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.button.__blue {
  color: #FFF;
  background: #2F4E80;
}
.button.__blue:hover {
  background: #265197;
}
.button.__small {
  height: 30px;
  padding: 5px 0;
  line-height: 20px;
}
.button.__inline {
  display: inline-block;
  width: auto;
}
A {
  cursor: pointer;
}
A.link {
  position: relative;
  display: inline-block;
  color: #265197;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border-bottom: 1px solid rgba(38, 81, 151, 0.5);
  cursor: pointer;
  transition: all .35s;
}
A.link.__dotted {
  border-bottom: 1px dashed rgba(38, 81, 151, 0.5);
}
A.link.__underline {
  text-underline-position: under;
  text-decoration-color: rgba(38, 81, 151, 0.5);
  border-bottom: none;
}
A.link.__box,
A.link.__plus,
A.link.__accept,
A.link.__calc,
A.link.__cross,
A.link.__print,
A.link.__sync,
A.link.__arrow,
A.link.__services,
A.link.__projects {
  position: relative;
  margin-left: 25px;
}
A.link.__box:after,
A.link.__plus:after,
A.link.__accept:after,
A.link.__calc:after,
A.link.__cross:after,
A.link.__print:after,
A.link.__sync:after,
A.link.__arrow:after,
A.link.__services:after,
A.link.__projects:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: -25px;
  display: block;
  width: 18px;
  height: 18px;
  transition: all .35s;
  background-position: center left;
  background-color: transparent;
  background-repeat: no-repeat;
}
A.link.__calc:after,
A.link.__cross:after,
A.link.__print:after {
  width: 17px;
  height: 17px;
}
A.link.__sync:after,
A.link.__services:after,
A.link.__projects:after {
  width: 20px;
  height: 20px;
}
A.link.__cross:after {
  background-color: #265197;
  background-position: center;
}
A.link.__box:after {
  width: 25px;
  background-image: url(/img/svg/arrows/box-arrow-link-blue.svg);
}
A.link.__plus:after {
  width: 25px;
  background-image: url(/img/svg/plus.svg);
}
A.link.__accept:after {
  width: 25px;
  background-image: url(/img/svg/acept.svg);
}
A.link.__calc:after {
  background-image: url(/img/svg/calc.svg);
}
A.link.__cross:after {
  background-image: url(/img/svg/cross.svg);
}
A.link.__print:after {
  background-image: url(/img/svg/printer.svg);
}
A.link.__sync:after {
  background-image: url(/img/svg/alert/sync.svg);
}
A.link.__projects:after {
  background-image: url(/img/svg/alert/projects.svg);
}
A.link.__services:after {
  background-image: url(/img/svg/alert/services.svg);
}
A.link.__back:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-image: url(/img/svg/arrows/medium-arrow-white-left.svg);
}
A.link.__white {
  color: #fff;
  border-bottom-color: #fff;
}
A.link.__white.__box:after {
  background: url(/img/svg/arrows/box-arrow-link-white.svg) center left transparent no-repeat;
}
A.link.__arrow {
  margin-left: 0;
  margin-right: 25px;
}
A.link.__arrow:after {
  left: auto;
  right: -20px;
  transition: all .5s;
  background: url(/img/svg/arrows/medium-arrow-blue-right.svg) right 7px transparent no-repeat;
}
A.link.__arrow:hover:after {
  right: -25px;
}
A.link:hover {
  border-bottom-color: transparent;
}
.input {
  display: inline-block;
  padding: 3px 5px;
  color: #C4C4C4;
  line-height: 24px;
  font-size: 14px;
  background-color: #fff;
}
.input:active,
.input:focus {
  color: #000;
}
.textarea {
  display: inline-block;
  padding: 10px 20px;
  color: #C4C4C4;
  line-height: 24px;
  font-size: 14px;
  background-color: #fff;
}
.textarea:active,
.textarea:focus {
  color: #000;
}
.select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
  color: #000;
  line-height: 30px;
  font-size: 13px;
  background-color: #E0E4EB;
  background-image: url("/img/svg/arrows/dropdown-arrow-top.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  border-bottom: 1px solid #2F4E80;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  cursor: pointer;
}
.select.__active,
.select:hover,
.select:focus {
  color: #fff;
  background-color: #2F4E80;
  background-image: url("/img/svg/arrows/dropdown-arrow-top-white.svg");
}
.select.__small {
  width: auto;
  height: 20px;
  padding-right: 25px;
  color: #FFF;
  line-height: 20px;
  background-color: #2F4E80;
  background-position: 85% 40%;
  background-image: url("/img/svg/arrows/dropdown-arrow-top-white.svg");
}
.select OPTION {
  color: #000;
  line-height: 30px;
  font-size: 13px;
  background-color: #FFF;
}
A.mod__underline {
  position: relative;
}
A.mod__underline:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all 0.35s;
}
A.mod__underline:hover:after {
  height: 5px;
  opacity: 0.2;
}
.block__slider.__active BUTTON.mod__underline {
  position: relative;
}
.block__slider.__active BUTTON.mod__underline:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all 0.35s;
}
.block__slider.__active BUTTON.mod__underline:hover:after {
  height: 5px;
  opacity: 0.2;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.f-light {
  font-family: "Roboto-Light", sans-serif;
}
.f-regular {
  font-family: "Roboto-Regular", sans-serif;
}
.f-bold {
  font-family: "Roboto-Bold", sans-serif;
}
.f-black {
  font-family: "Roboto-Black", sans-serif;
}
*.__m1 {
  margin: 10px 0;
}
*.__m2 {
  margin: 20px 0;
}
*.__m3 {
  margin: 30px 0;
}
*.__pl2 {
  padding-left: 20px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_product--footer BUTTON.mod__underline {
    position: relative;
  }
  .b_product--footer BUTTON.mod__underline:after {
    position: absolute;
    bottom: 0;
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: all 0.35s;
  }
  .b_product--footer BUTTON.mod__underline:hover:after {
    height: 5px;
    opacity: 0.2;
  }
}
/** Desktop: End **/
/** Full: Start **/
/** Full: End **/
/** Desktop: Start **/
/** Desktop: End **/
/** Tablet: Start **/
/** Tablet: End **/
/** SmartPhone: Start **/
/** SmartPhone: End **/
::placeholder,
::-webkit-input-placeholder {
  color: #C4C4C4;
}
