@charset "utf-8";
* {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  color: #000;
  font-size: 13px;
  line-height: 17px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
b,
strong {
  font-weight: bold;
}
