BODY.design-desktop,
BODY.design-tablet,
BODY.design-phone {
  background-position: center top;
  background-repeat: no-repeat;
}
BODY.design {
  background-position: top center;
  background-image: url("/design/main/desktop.png");
}
BODY.design.__catalog {
  background-image: url("/design/catalog/desktop.png");
}
BODY.design.__product {
  background-image: url("/design/product/desktop.png");
}
@media (max-width: 768px) {
  BODY.design {
    background-image: url("/design/main/tablet.png");
  }
  BODY.design.__catalog {
    background-image: url("/design/catalog/tablet.png");
  }
  BODY.design.__product {
    background-image: url("/design/product/tablet.png");
  }
}
@media (max-width: 576px) {
  BODY.design {
    background-image: url("/design/main/mobile.png");
  }
  BODY.design.__catalog {
    background-image: url("/design/catalog/mobile.png");
  }
  BODY.design.__product {
    background-image: url("/design/product/mobile.png");
  }
}
BODY.design * {
  background-color: transparent !important;
}
