BODY {
  color: #000;
}
BODY .text-12_20 {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
}
BODY .text-12_20.__header,
BODY .text-12_20 B {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-13_20 {
  display: inline-block;
  line-height: 20px;
  font-size: 13px;
}
BODY .text-13_20.__header,
BODY .text-13_20 B {
  display: inline-block;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-13_20 {
  display: inline-block;
  line-height: 22px;
  font-size: 13px;
}
BODY .text-13_20.__header,
BODY .text-13_20 B {
  display: inline-block;
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-14_20 {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
}
BODY .text-14_20.__header,
BODY .text-14_20 B {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-14_25 {
  display: inline-block;
  line-height: 25px;
  font-size: 14px;
}
BODY .text-14_25.__header,
BODY .text-14_25 B {
  display: inline-block;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-16_24 {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
}
BODY .text-16_24.__header,
BODY .text-16_24 B {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-18_24 {
  display: inline-block;
  line-height: 24px;
  font-size: 18px;
}
BODY .text-18_24.__header,
BODY .text-18_24 B {
  display: inline-block;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-20_25 {
  display: inline-block;
  line-height: 25px;
  font-size: 20px;
}
BODY .text-20_25.__header,
BODY .text-20_25 B {
  display: inline-block;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-20_30 {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
}
BODY .text-20_30.__header,
BODY .text-20_30 B {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-22_30 {
  display: inline-block;
  line-height: 30px;
  font-size: 22px;
}
BODY .text-22_30.__header,
BODY .text-22_30 B {
  display: inline-block;
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-24_28 {
  display: inline-block;
  line-height: 28px;
  font-size: 24px;
}
BODY .text-24_28.__header,
BODY .text-24_28 B {
  display: inline-block;
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-30_35 {
  display: inline-block;
  line-height: 35px;
  font-size: 30px;
}
BODY .text-30_35.__header,
BODY .text-30_35 B {
  display: inline-block;
  line-height: 35px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-30_50 {
  display: inline-block;
  line-height: 50px;
  font-size: 30px;
}
BODY .text-30_50.__header,
BODY .text-30_50 B {
  display: inline-block;
  line-height: 50px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .text-40_50 {
  display: inline-block;
  line-height: 50px;
  font-size: 40px;
}
BODY .text-40_50.__header,
BODY .text-40_50 B {
  display: inline-block;
  line-height: 50px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
BODY .__header.__block {
  display: block;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  BODY .text-30_50 {
    display: inline-block;
    line-height: 35px;
    font-size: 30px;
  }
  BODY .text-30_50.__header,
  BODY .text-30_50 B {
    display: inline-block;
    line-height: 35px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
}
/** Tablet: End **/
