.block__404 {
  display: block;
  width: 100%;

  .b_content--line {
    background-color: #265197;
    opacity: .5;
  }
}

.b_404--wrapper {
  display: block;
  width: 100%;
}

.b_404--head {
  display: block;
  width: 100%;
}


.b_404--overlay {
  display: block;
  width: 100%;

  &.__main {
    position: relative;
    border-top: 1px solid #265197;
    border-bottom: 1px solid #265197;
    margin: 30px 0;
    padding-bottom: 40px;
  }
}

.b_404--head {
  display: inline-block;
  width: 55%;
  padding-top: 20px;

}

.b_404--body {
  position: absolute;
  top: 50px;
  right: 0;
  display: inline-block;
  width: 50%;
  height: 165px;
  text-align: right;
}

.b_404--layout {
  display: block;
  width: 100%;
  margin: 35px 0;

  &.__left {
    display: inline-block;
    width: 70%;
    padding-right: 30px;
  }

  &.__right{
    display: inline-block;
    width: 30%;
  }
}

.b_404--text {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
}

.b_404--img {
  display: inline-block;
  width: auto;
  height: 165px;
}

.b_404--title {
  display: block;
  width: 100%;
  color: #000;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}

.b_4040--form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.b_404--label {
  display: inline-block;
  width: 31%;

  .b_404--input {
    width: 100%;
    padding: 5px 20px;
    line-height: 30px;
    border: 1px solid #E5E8EE;
  }

  .b_404--button {
    padding: 5px 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
}

.b_404--link {
  display: block;
  width: 100%;
  color: #265197;
  line-height: 25px;
  font-size: 14px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}





/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_404--layout
  {
    &.__left {
      width: 50%;
    }

    &.__right {
      width: 50%;
    }
  }

  .b_404--img { height: 150px; };

  .b_4040--form {
    flex-wrap: wrap;
  }

  .b_404--label {
    width: 49%;
    margin-bottom: 25px;
  }
  .block__404 {
    .b_contacts--link
    {
      &.__dotted {
        border-bottom: 1px dotted #1B3866;
      }
    }
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px)
{
  .b_404--layout
  {
    &.__left {
      width: 100%;
    }

    &.__right {
      width: 100%;
      margin-top: 0;
    }
  }

  .b_404--head {
    width: 100%;
  }

  .b_404--overlay
  {
    &.__main
    {
      margin-top: 10px;

      .b_content--header {
        margin: 10px 0;
      }
    }

    &.__filter
    {
      .block__filter {
        margin-bottom: 30px;
      }
    }
    &.__history {
      margin-bottom: 60px;
    }
  }
  .b_404--layout {
    margin: 20px 0;
  }

  .b_404--body {
    position: relative;
    width: 100%;
    top: 30px;
    right: auto;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .b_4040--form {
    flex-wrap: wrap;
  }

  .b_404--label {
    width: 100%;
    margin-bottom: 30px;

    .b_404--input,
    .b_404--button {
      height: 40px;
      line-height: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
/** Tablet: End **/
