.b_addon--text {
  display: block;
  color: #000;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}
.b_addon--text.__blue {
  color: #2F4E80;
}
.b_addon--title {
  display: block;
  margin-bottom: 5px;
  color: #2F4E80;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.b_addon--img {
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
  width: 32%;
  height: 80px;
}
.b_addon--item {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0 30px 32%;
}
.b_addon--wrapper {
  display: block;
  width: 100%;

  .__background {

  }
}
.block__addon {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=addon.css.map */