.b_addon--tools {
  display: block;
  width: 100%;
  margin: 15px 0;
}

.b_addon--link {
  display: inline-block;
  color: #2F4E80;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  text-decoration: none;
}

.b_addon--text {
  display: block;
  color: #000;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;

  &.__blue {
    color: #2F4E80;
  }
}
P.b_addon--text {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: normal;
}

.b_addon--title {
  display: block;
  color: #2F4E80;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}

.b_addon--img {
  width: auto;
  max-width: 90px;
  height: auto;
  max-height: 75px;
}
.b_addon--pic {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 10px;
  background: #fff;
}

.b_addon--layout {
  position: absolute;
  top: 30px;
  left: 0;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 25%;
}

.b_addon--item {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0 30px 32%;
  border-top: 1px solid #DBDEE3;
}

.b_addon--wrapper {
  display: block;
  width: 100%;

  &.__background {
    padding: 20px 10px;
    background-color: #EDF0F6;

    .b_addon--item {
      margin-bottom: 10px;
      padding: 10px 10px 20px 130px;
      background-color: #fff;
      border-top: none;
    }

    .b_addon--layout {
      top: 10px;
      left: 10px;
      width: 110px;
    }
  }
}

.block__addon {
  display: block;
  width: 100%;
}