
.block__alert {
  display: block;
}

.b_alert--wrapper {
  display: block;
  width: 100%;
  padding: 10px 20px 45px 20px;
  background-color: #F3EAEB;
}

.b_alert--header {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #B91818;
  line-height: 40px;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto-Medium", sans-serif;
  border-bottom: 1px solid #B91818;
}

.b_alert--body {
  display: block;
  width: 100%;

  .link {
    width: auto;
    margin: 10px 0 0 0;
    border-bottom: .5px solid rgba(38, 81, 151, 0.5);
  }
}

.b_alert--text
{
  display: block;
  width: 100%;
  padding-top: 25px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
  font-weight: normal;

  &:first-child {
    padding-top: 0;
  }
}