.block__banner {
  position: relative;
  display: block;
  width: 100%;
}

.b_banner--wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 30px;
  background: linear-gradient(0deg, #8491A6, #8491A6);
  height: 285px;

  &.__small {
    height: 170px;

    .b_banner--title {
      padding-right: 30px;
      line-height: 35px;
    }

    .b_banner--description {
      width: 40%;
      margin-top: 10px;
      line-height: 20px;
      font-size: 16px;
    }
  }
}

.b_banner--item {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.b_banner--text {
  transition: all 5s;
  position: absolute;
  top: -280px;
  left: 30px;
  display: block;
  opacity: 0;
  z-index: 7;
}

.b_banner--title {
  display: block;
  color: #FFF;
  line-height: 47px;
  font-size: 40px;
  font-family: "Roboto-Light", sans-serif;

  B {
    display: block;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
}

.b_banner--description {
  display: block;
  max-width: 350px;
  margin-top: 18px;
  color: #fff;
  line-height: 19px;
  font-size: 15px;
}

.b_banner--wrapper
{
  &.__small
  {
    .b_banner--title {
      display: inline-block;
    }
    .b_banner--description {
      display: inline-block;
    }
  }
}

.b_banner--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  opacity: 0;
}

.b_banner--background {
  transition: all 5s;
  position: absolute;
  top: -10%;
  right: -10%;
  display: block;
  width: 120%;
  height: 120%;
  opacity: 0;
  z-index: 3;
}

.b_banner--img {
  transition: all 5s;
  position: absolute;
  bottom: 0;
  right: -100%;
  display: block;
  width: auto;
  height: 100%;
  z-index: 5;
}

.b_banner--timeline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #E6B623;
  z-index: 7;
}

.b_banner--wrapper
{
  .b_banner--item
  {
    transition: all 2s;

    &.__active {

      .b_banner--text {
        transition: all 2s;
        top: 30px;
        opacity: 1;
      }

      .b_banner--background {
        transition: all 2s;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
      }

      .b_banner--img {
        transition: all 2s;
        right: 0%;
        opacity: 1;
      }
    }
  }

  &.__small
  {
    .b_banner--item
    {
      &.__active {

        .b_banner--text {
          top: 30px;
          opacity: 1;
        }

        .b_banner--background {
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
        }

        .b_banner--img {
          top: 0;
          right: 0%;
          display: block;
          opacity: 1;
        }
      }
    }
  }
}


.b_banner--layout {
  position: absolute;

  &.__info {
    left: 30px;
    bottom: 20px;
    z-index: 5;
  }
}

.b_banner--box {
  display: inline-block;
  height: 25px;
  margin-right: 15px;
}

.b_banner--counter {
  display: inline-block;
  padding-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-style: italic;
  line-height: 20px;

  B { font-size: 17px }
}

.b_banner--controller {
  display: inline-block;
  padding-top: 10px;
}

.b_banner--frame {
  transition: all 3s;
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 10px;
  background-color: #fff;
  transform: skewX(-15deg);
  cursor: pointer;

  &.__active { background-color: #E6B623 }
}

.f_small-banner()
{
  .block__banner
  {
    .__small
    {
      .b_banner--description {
        width: 30%;
      }

      .b_banner--item
      {
        &.__active
        {
          .b_banner--img {
            right: -15%;
          }
        }
      }

    }
  }
}

@media ( max-width: 1325px ) and ( min-width: 1126px)
{
  .f_small-banner();
}

@media  (max-width: 980px)
{
  .f_small-banner();
}

@media  (max-width: 840px)
{
  .block__banner
  {
    .__small
    {
      .b_banner--description {
        display: none;
      }
    }
  }
}


/** Tablet: Start **/
@media (max-width: 768px)
{


  .block__banner{
    width: auto;
    margin: 0 -15px 30px -15px;
  }

  .b_banner--wrapper {
    height: 140px;

    &.__small{

      .b_banner--title{
        line-height: 25px;
        font-size: 20px;
      }
    }

    .b_banner--item
    {
      &.__active
      {
        .b_banner--img {
          right: 0;
        }
      }
    }
  }

  .b_banner--layout
  {
    &.__info {
      left: 20px;
      bottom: 15px;
    }
  }

  .b_banner--title{
    line-height: 30px;
    font-size: 24px;
  }

  .b_banner--description {
    display: none;
  }


}
/** Tablet: End **/

/** SmartPhone: Start **/
@media (max-width: 576px)
{
  BODY
  {
    .b_banner--wrapper
    {
      .b_banner--item
      {
        &.__active
        {
          .b_banner--img {
            right: -20%;
          }
        }
      }
    }
  }
}
/** SmartPhone: End **/
