.block__benefit {
  display: block;
  width: 100%;
}
.b_benefit--wrapper {
  display: block;
  width: 100%;
}
.b_benefit--header {
  display: block;
  width: 100%;
  color: #000;
  line-height: 30px;
  font-size: 25px;
}
.b_benefit--title {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=benefit.css.map */