.block__board {
  display: block;
  width: 100%;

  .b_list--wrapper {
    margin-bottom: 0;
  }
}

.b_board--wrapper {
  display: block;
  width: 100%;
  margin: 30px 0;
}

.b_board--head {
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #FFF;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
  background-color: #213C68;
}

.b_board--body {
  display: block;
  width: 100%;
}

.b_board--row {
  display: flex;
  width: 100%;
  font-size: 0;
  border-top: 1px solid #fff;

  &:last-child
  {
    & > * {
      padding-bottom: 30px;
    }
  }
}

.b_board--label {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 15px;
  color: #000;
  line-height: 30px;
  font-size: 14px;
  background-color: #EDF0F6;

  &.__full {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
}

.b_board--value {
  display: inline-block;
  width: 50%;
  padding-left: 15px;
  color: #213C68;
  line-height: 20px;
  font-size: 14px;
  background-color: #E5E8EE;
}

.b_board--footer {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #FFF;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  background-color: #213C68;
}


/** Tablet: Start **/
@media (max-width: 768px)
{
  .b_board--label {
    padding-top: 10px;
    line-height: 15px;
  }
  .b_board--value {
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
/** Tablet: End **/