.block__brands {
  display: block;
  width: 100%;
}
.b_brands--wrapper {
  display: block;
  width: 100%;
}
.b_brands--head {
  display: block;
  width: 100%;
}
.b_brands--label {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  min-width: 170px;
  background-color: #2F4E80;
}
.b_brands--body {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.b_brands--link {
  display: block;
  width: 18%;
}
/*# sourceMappingURL=brands.css.map */