.block__breadcrumb {
  display: block;
  width: 100%;
}
.b_breadcrumb--wrapper {
  display: block;
  width: 100%;
}
.b_breadcrumb--item {
  display: inline-block;
  width: 100%;
}
.b_breadcrumb--item:after {
  content: '/';
  display: inline-block;
  padding: 0 5px;
  font-weight: 300;
  color: #0B2248;
  line-height: 25px;
  font-size: 13px;
  opacity: 0.5;
}
.b_breadcrumb--item:last-child:after {
  display: none;
  content: none;
}
.b_breadcrumb--link {
  font-weight: 300;
  color: #0B2248;
  line-height: 25px;
  font-size: 13px;
  opacity: 0.5;
}
/*# sourceMappingURL=breadcrumbs.css.map */