.block__breadcrumb {
  display: block;
  width: 100%;

  .link.__print {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.b_breadcrumb--wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 20px 0;

  .link {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.__height {
    padding: 15px 0;
    border-top: 1px solid #265197;
    border-bottom: 1px solid #DBDEE3;

    .b_breadcrumb--list {
      border: none;
    }
  }

  &.__line {

    .b_breadcrumb--list {
      padding: 10px;
      border-top: 1px solid #265197;
      border-bottom: 1px solid #DBDEE3;
    }
  }
}

.b_breadcrumb--list {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #265197;

  &.__light {
    border-bottom: 1px solid #DBDEE3;
  }

}

.b_breadcrumb--item {
  display: inline-block;

  &:after {
    content: '/';
    display: inline-block;
    padding: 0 5px;
    font-weight: 300;
    color: #0B2248;
    line-height: 30px;
    font-size: 13px;
    opacity: 0.5;
  }

  &:last-child
  {
    &:after {
      display: none;
      content: none;
    }
  }
}

.b_breadcrumb--link {
  font-weight: 300;
  color: #0B2248;
  line-height: 30px;
  font-size: 13px;
  opacity: 0.5;
  text-decoration: none;
}
