@border-setup: 1px solid #fff;

.block__category {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

.b_category--wrapper {
  display: block;
  width: 100%;
  border-top:@border-setup;
  border-left:@border-setup;
}


.b_category--item {
  display: inline-block;
  width: 25%;
  height: 135px;
  background: #8491A6;
  border-bottom:@border-setup;
  border-right:@border-setup;

  &.__middle { width: 50% }
  &.__big { width: 75% }
  &.__large { width: 100% }

  &.__glow { background: #E17871 }
}

.b_category--link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 35px 0 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.b_category--title {
  display: inline-block;
  color: #FFF;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;

  B {
    display: block;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }

  &:hover {
    text-decoration: underline;
  }
}


/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_category--item {
    width: 25%;

    &.__middle { width: 50% }
    &.__big { width: 50% }

    &.__large { width: 50% }
  }
}
/** Desktop: End **/


/** Tablet: Start **/
@media (max-width: 768px)
{

  .b_category--item {
    width: 50%;

    &.__middle { width: 100% }
    &.__big { width: 100% }

    &.__large { width: 100% }
  }
}
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px)
{

}
/** SmartPhone: End **/