.block__category {
  display: block;
  width: 100%;
}
.b_category--wrapper {
  display: block;
  width: 100%;
}
.b_category--item {
  display: inline-block;
  width: 25%;
  height: 167px;
}
.b_category--item.__middle {
  width: 50%;
}
.b_category--item.__big {
  width: 75%;
}
.b_category--item.__large {
  width: 100%;
}
.b_category--link {
  padding: 15px 0 0 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.b_category--title {
  display: inline-block;
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.b_category--title B {
  display: block;
  font-weight: bold;
}
.b_category--title:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=category.css.map */