.block__choose {
  display: block;
}
.b_choose--title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.b_choose--list {
  display: block;
  width: 100%;
  font-size: 0;
}
.b_choose--item {
  display: inline-block;
  width: 20%;
  font-size: 0;
}
.b_choose--link {
  display: block;
  width: 50%;
  font-size: 14px;
  line-height: 25px;
  color: #265197;
}
.b_choose--link B {
  font-weight: bold;
}
/*# sourceMappingURL=choose.css.map */