.block__chronicle {
  display: block;
  width: 100%;
}
.b_chronicle--wrapper {
  display: block;
  width: 100%;
}
.b_chronicle--item {
  display: block;
  width: 100%;
  padding: 15px;
}
.b_chronicle--item.__glow {
  background-color: #2F4E80;
}
.b_chronicle--head {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
  background-color: #fff;
}
.b_chronicle--img {
  display: block;
  width: 90%;
}
.b_chronicle--body {
  display: block;
  width: 70%;
}
.b_chronicle--data {
  display: block;
  width: 100%;
}
.b_chronicle--title {
  display: block;
  width: 100%;
}
.b_chronicle--text {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=chronicle.css.map */