
.block__chronicle {
  display: block;
  width: 100%;
}

.b_chronicle--wrapper {
  display: block;
  width: 100%;
}

.b_chronicle--item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #DBDEE3;

  &.__glow {
    margin-bottom: 40px;
    padding: 15px;
    background-color: #2F4E80;
    border-bottom: none;

    .b_chronicle--head {
      width: 30%;
      padding: 25px 10px;
    }

    .b_chronicle--body {
      width: 66%;
    }

    .b_chronicle--data,
    .b_chronicle--title,
    .b_chronicle--text {
      color: #fff;
    }
    .b_chronicle--title {
      font-size: 24px;
    }

  }
}

.b_chronicle--head {
  display: inline-block;
  width: 20%;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
}

.b_chronicle--body {
  display: inline-block;
  width: 77%;
}

.b_chronicle--img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.b_chronicle--data {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #C4C4C4;
  line-height: 20px;
  font-size: 12px;
}

.b_chronicle--title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #2F4E80;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.b_chronicle--text {
  display: block;
  width: 100%;
  color: #000;
  line-height: 20px;
  font-size: 14px;
}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_chronicle--title {
    font-size: 16px;
    line-height: 20px;
  }
}
/** Desktop: End **/


/** Tablet: Start **/
@media (max-width: 768px)
{
  .b_chronicle--item {
    display: block;
    width: 100%;

    .b_chronicle--img {
      display: block;
      max-height: 120px;
      width: auto;
      margin: 0 auto;
    }

    .b_chronicle--head,
    .b_chronicle--body {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }



    &.__glow
    {
      .b_chronicle--title {
        line-height: 30px;
      }

      .b_chronicle--head,
      .b_chronicle--body
      {
        width: 100%;

        .b_chronicle--img {
          max-height: 210px;
        }
      }
    }
  }
}
/** Tablet: End **/