.block__contacts {
  display: block;
}
.b_contacts--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.b_contacts--item {
  display: inline-block;
  width: 33.33%;
  text-align: left;
}
.b_contacts--box {
  display: block;
  padding-top: 2px;
  background-position: left top;
  background-repeat: no-repeat;
}
.b_contacts--box.__address {
  background-image: url("/img/svg/blue-geo-point.svg");
}
.b_contacts--box.__work-time {
  background-image: url("/img/svg/blue-clock.svg");
}
.b_contacts--box.__mail {
  background-image: url("/img/svg/blue-mail.svg");
}
.b_contacts--box.__phone {
  background-image: url("/img/svg/blue-phone.svg");
}
.b_contacts--text {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #0B2248;
}
.b_contacts--link {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #265197;
}
.b_contacts--link:hover {
  color: #2F4E80;
}
.b_contacts--link.__underline {
  border-bottom: 1px solid #265197;
}
.b_contacts--link.__underline:hover {
  border-bottom: 1px solid #2F4E80;
}
.b_contacts--link.__dotted {
  border-bottom: 1px dotted #265197;
}
.b_contacts--link.__dotted:hover {
  border-bottom: 1px dotted #2F4E80;
}
.b_contacts--link.__dark {
  color: #0B2248;
}
.b_contacts--link.__dark:hover {
  color: #0B2248;
  border-bottom: 1px solid #0B2248;
}
/*# sourceMappingURL=contacts.css.map */