.block__content {
  display: block;
  width: 100%;

  &.__flip {
    padding-top: 0;
  }
}

.b_content--box {
  display: block;
  width: 100%
}

.b_content--text {
  P, DIV, SPAN {
    color: #000;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.b_content--header {
  position: relative;
  display: block;
  margin: 22px 0;
  color: #000;
  font-size: 23px;
  font-weight: normal;
  line-height: 28px;

  & > * {
    font-family: "Roboto-Medium", sans-serif;

  }

  &.__bold {

    font-family: "Roboto-Medium", sans-serif;
  }

  &.__small {
    margin: 15px 0;
    font-size: 18px;
    line-height: 24px;
  }

  &.__large {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;

    A.link {
      position: absolute;
      top: 11px;
      right: -10px;
      bottom: auto;
      line-height: 17px;
      font-size: 14px;
      text-transform: none;
    }
  }

  B {
    padding-right: 5px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }

  A.link {
    float: right;
    right: -5px;
    top: 5px;
    font-size: 13px;
  }
}

.b_content--grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0;

  .b_content--column {
    position: relative;
    display: block;
    padding: 0 20px 50px 20px;
    background-color: #EDF0F6;

    .b_content--header {
      margin: 15px 0;
    }

    &.__left {
      width: 65.5%;
    }

    &.__right {
      width: 31%;
    }

  }

}

.b_content--tab {
  position: relative;
  top: 10px;
  margin: 0 20px;
  color: #265197;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px dashed #C4C4C4;
  text-decoration: none;
  transition: all .35s;

  &:hover {
    border-bottom-color: transparent;
  }

}

.b_content--line {
  display: block;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #93A8CB;

  &.__blue {
    background-color: #265197;
  }

  &.__gray {
    background-color: #DBDEE3;
  }

  &.__small {
    margin: 10px 0;
  }

  &.__mini {
    margin: 0;
  }

  &.__print{
    background-color: #265197;
    margin: 15px 0;
  }
}

/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_content--header
  {
    line-height: 30px;
    font-size: 24px;

    B {
      line-height: 30px;
      font-size: 24px;
    }

    &.__large {
      padding-bottom: 30px;
      font-size: 30px;
      line-height: 35px;
      text-transform: none;

      B {
        display: block;
        font-size: 30px;
        line-height: 35px;
      }

      A.link {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 5px;
        left: 0;
        line-height: 16px;
        font-size: 14px;
        text-transform: none;
      }

    }
  }

  .block__content {
    padding-top: 0;
  }

  .b_content--box{
    &.__dynamic {
      position: relative;
      left: -40px;
      width: auto;
      margin-right: -80px;
    }
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px) {

  .block__content {
    padding-top: 0;
  }

  BODY .b_content--header {
    display: block;
    margin: 15px 0;

    & > DIV.__header {
      display: block;
    }

    A.link {
      position: relative;
      float: initial;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
    }

  }

  .b_content--box{
    &.__dynamic {
      left: -10px;
      margin-right: -25px;
    }
  }

}
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px) {

}
/** SmartPhone: End **/