
@color-blue: #265197;
@color-blue-hover: #2F4E80;



.block__contacts {
  display: inline-block;
  width: 80%;
}

.b_contacts--wrapper {
  display: block;
  font-size: 0;

  &.__content
  {
    .b_contacts--item {
      display: block;
      width: 100%;
      margin: 15px 0 0 0;

      .b_contacts--link
      {
        color: #265197;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    .b_contacts--link {
      margin-right: 30px;
    }
  }

  &.__dealer {
    .b_contacts--link {
      display: block;
    }
  }
}

.b_contacts--item {
  display: inline-block;
  width: 33.33%;
  padding-left: 30px;
  text-align: left;

  &.__links {
    padding-left: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}

.b_contacts--box {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-top: 5px;

  &:first-child{
    margin-top: 0;
  }
}

.b_contacts--icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  &.__address {
    background-image: url("/img/svg/geo_point-blue.svg");
  }
  &.__work-time {
    height: 20px;
    background-image: url("/img/svg/clock-blue.svg");
  }
  &.__mail {
    background-image: url("/img/svg/mail-blue.svg");
  }
  &.__phone {
    background-image: url("/img/svg/phone-blue.svg");
  }
}

.b_contacts--text,
.b_contacts--link {
  display: inline-block;
  padding: 2px 0 0 0;
  margin-bottom: 2px;
  line-height: 16px;
  font-size: 14px;
  color: #0B2248;
  clear: both;
  white-space: nowrap;
}
.b_contacts--link {
  text-decoration: none;
  margin-top: 2px;

  &:first-child{
    margin-top: 0;
  }


  & > SUB {
    color: #000;
    white-space: normal;
  }

  &:hover {
    color: @color-blue-hover;
  }

  &.__underline{
    color: @color-blue;
    border-bottom: 1px solid rgba(38, 81, 151, .5);
    transition: border-bottom .5s;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &.__dotted{
    color: @color-blue;
    border-bottom: 1px dashed rgba(38, 81, 151, .5);
    transition: border-bottom .5s;

    &:hover {
      border-bottom: 1px dashed transparent;
    }
  }
  &.__dark{
    color: #0B2248;
    &:hover {
      color: #0B2248;
      border-bottom: 1px solid #0B2248;
    }
  }
}


/** Tablet: Start **/
@media (max-width: 1126px) {

  .block__contacts {
    width: 100%;
  }

  .b_contacts--item {
    width: 33.33%;

    &.__links{
      padding-left: 30px;
    }
  }
}
/** Tablet: End **/



/** Mobile: Start **/
@media (max-width: 768px)
{
  .b_content--header.__large B {
    display: block;
  }

  .block__contacts {
    width: 100%;
  }

  .b_contacts--item {
    width: 70%;

    &.__links {
      width: 30%;

      .b_contacts--box {
        text-align: right;
      }
    }
  }

  .b_contacts--box {
    padding: 0;
    text-align: right;

    .b_contacts--link {
      margin: 0;
      padding: 0;
      color: #1B3866;
      line-height: 16px;
      font-size: 12px;
      border-bottom: none;
      text-align: center;
    }

    > .b_contacts--icon.__address{
      display: none;
    }

  }

  .b_contacts--icon {

    &.__address {
      position: relative;
      left: auto;
      top: 0;
      display: block;
      width: 18px;
      height: 32px;
      margin: 0 auto;
      background-size: contain;
    }
  }

  .__content
  {
    .b_contacts--box
    {
      .b_contacts--link {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .b_contacts--box {
      padding: 5px 0 0 30px;
      text-align: left;
    }
  }
}
/** Mobile: End **/
