.block__display {
  display: block;
  width: 100%;
}
.b_display--label {
  display: inline-block;
}
.b_display--text {
  display: inline-block;
}
.b_display--label {
  display: inline-block;
}
.b_display--text {
  display: inline-block;
}
/*# sourceMappingURL=display.css.map */