.block__display {
  display: block;
  width: 100%;
}

.b_display--label {
  display: inline-block;
  padding-right: 35px;
}

.b_display--wrapper {
  display: block;
  padding: 5px 0;
}

.b_display--text {
  display: inline-block;
  padding-right: 10px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;

  .__count {}
}
