.block__faq {
  display: block;
  width: 100%;
}

.b_faq--wrapper {
  display: block;
  padding: 20px 0;
  border-top: 1px solid #dce2ed;
  border-bottom: 1px solid #dce2ed;

}

.b_faq--link {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #1B3C72;
  line-height: 20px;
  font-size: 13px;

}

BODY .block__faq {

  A.link {
    position: absolute;
    bottom: 20px;
  }
}