.block__filial {
  display: block;
  width: 100%;
}

.b_filial--wrapper {
  display: block;
  width: 100%;
}

.b_filial--head {
  display: block;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #E5E8EE;
}

.b_filial--title {
  display: block;
  width: 100%;
  color: #000;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
}

.b_filial--body {
  display: block;
  width: 100%;
  padding: 20px 0;
}

.b_filial--list {
  display: block;
  justify-content: space-between;
  width: 100%;
}

.b_filial--item {
  display: inline-block;
  width: 33.33%;
  min-height: 100px;
  padding-top: 15px;
  margin-bottom: 30px;

  A.link {
    margin-top: 5px;
  }
}

.b_filial--name {
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
  color: #265197;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(38, 81, 151, .4);
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid transparent;
  }
}

.b_filial--phone {
  display: block;
  width: auto;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  text-decoration: none;
}