.block__filial {
  display: block;
  width: 100%;
}
.b_filial--wrapper {
  display: block;
  width: 100%;
}
.b_filial--head {
  display: block;
  width: 100%;
  padding: 25px 0;
}
.b_filial--title {
  display: block;
  width: 100%;
  color: #000;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
}
.b_filial--body {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.b_filial--list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.b_filial--item {
  display: block;
  width: 30%;
  padding-top: 15px;
  margin-bottom: 40px;
}
.b_filial--name {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #265197;
  line-height: 18px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #265197;
}
.b_filial--phone {
  display: block;
  width: 100%;
  color: #000000;
  line-height: 20px;
  font-size: 13px;
}
.b_filial--mail {
  display: block;
  width: 100%;
  color: #265197;
  line-height: 20px;
  font-size: 13px;
}
/*# sourceMappingURL=filial.css.map */