.block__filter {
  position: relative;
  display: block;
  width: 100%;
}

.b_filter--wrapper {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.b_filter--header {
  display: block;
  width: 100%;
}

.b_filter--body {
  display: flex;
  width: 100%;
}

.b_filter--layout {
  display: block;
  padding-top: 15px;

  &.__manufacturers {
    width: 21%;
    min-width: 167px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #E5E8EE;
  }

  &.__specification {
    width: 79%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #EDF0F6;
  }

  &.__classes {
    padding: 15px 0;

    .b_filter--label {

    }
  }

  &.__tags {
    width: 100%;
    padding: 30px 0 0 0;
  }
}

.b_filter--label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #000;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
}

.b_filter--layout {
  .b_filter--label {
    line-height: 20px;
  }
}

.b_filter--checkboxes {
  display: block;
  width: 100%;

  .b_filter--checkbox {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    opacity: 0;

    &+I {
       display: inline-block;
       width: 15px;
       height: 15px;
       margin-right: 10px;
       background-repeat: no-repeat;
       background-position: center left;
       background-image: url("/img/svg/form/checkbox-un-select.svg");
       cursor: pointer;
     }

    &:focus + I,
    &:hover + I {
      background-image: url("/img/svg/form/checkbox-un-select-hover.svg");
    }

    &:checked {
      &+I{
        background-image: url("/img/svg/form/checkbox-select.svg");

        &:hover {
          background-image: url("/img/svg/form/checkbox-select-hover.svg");
        }
      }
    }
  }
}
.b_filter--label {

  &:hover {

    .b_filter--checkbox {

      &+I {
        background-image: url("/img/svg/form/checkbox-un-select-hover.svg");
      }

      &:checked+I {

        background-image: url("/img/svg/form/checkbox-select-hover.svg");
      }
    }
  }
}

.b_filter--button {
  display: inline-block;
  width: auto;
  padding: 0 5px;
  background-color: #2F4E80;
  cursor: pointer;

  &.__tag {
    margin-right: 5px;
    padding-left: 0;
    color: #fff;
    line-height: 20px;
    font-size: 13px;
    background-color: #265197;
    transition: all .35s;
    text-decoration: none;

    I {
      display: inline-block;
      width: 18px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(/img/svg/form/delete-tag.svg);
    }

    &:hover {
      background-color: #2F4E80;

      I {
        background-image: url(/img/svg/form/delete-tag-hover.svg);
      }
    }
  }
}

.b_filter--footer {
  position: relative;
  display: block;
  width: 100%;
  text-align: right;

  .button {
    display: inline-block;
    width: 105px;
    height: 30px;
    padding: 0;
    line-height: 30px;
  }
}

BODY
{
  .b_filter--footer
  {
    A.link {
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
}


.block__specification {
  display: block;
  width: 100%;
}

.b_specification--wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.b_specification--item {
  display: inline-block;
  width: 48.5%;
}

.b_specification--label {
  display: block;
  width: 100%;
  font-size: 0;
  padding-bottom: 20px;
}

.b_specification--text {
  display: inline-block;
  width: 35%;
  color: #000;
  line-height: 30px;
  font-size: 13px;
}

.b_specification--layout {
  display: inline-block;
  width: 65%;
  color: #000;
  font-size: 0;
}

.b_specification--grid {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;

  .b_specification--text {
    width: 12%;
    text-align: center;
  }

  .b_specification--input {
    width: 35%;
    padding: 0;
    text-align: center;
  }
}

.b_specification--input {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  color: #fff;
  line-height: 30px;
  font-size: 13px;
  background-color: #2F4E80;
}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_filter--body {
    display: block;
    width: 100%;
    padding: 0 20px;
    background-color: #EDF0F6;
  }

  .b_filter--layout {
    padding-left: 0;
    padding-right: 0;

    &.__manufacturers {
      position: relative;
      display: block;
      width: 100%;
      min-width: auto;
      padding: 10px 0 20px 0;
      background-color: #EDF0F6;
      border-top: 1px solid #DBDEE3;
      border-bottom: 1px solid #DBDEE3;

      .b_filter--label {
        display: inline-block;
        width: 20%;
        margin-right: 0;
      }



      .link {
        &.__select-all {
          position: absolute;
          left: 80%;
          display: inline-block;
          width: auto;
          font-size: 13px;
        }
      }

      .b_filter--checkboxes {
        display: flex;
        width: auto;
        padding: 15px 0;

        .b_filter--layout {
          display: block;
          width: 100%;

          .b_filter--label {
            display: inline-block;
            width: 20%;
            margin-right: 30px;
          }

          &.__classes {
            padding: 0;

          }
        }
      }
    }

    &.__specification {
      display: block;
      width: 100%;
      padding: 20px 0;
    }
  }

  .b_filter--footer {
    border-top: 1px solid #DBDEE3;
    padding-top: 20px;
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px)
{
  .block__filter {
    margin-bottom: 10px;
  }
  .b_filter--layout {

    &.__manufacturers {

      .b_filter--checkboxes {
        display: block;
        padding-top: 0;

        .b_filter--label {
          display: block;
          width: 100%;
          margin-right: 0;
        }

        .b_filter--layout {
          padding-top: 15px;

          .b_filter--label {
            display: inline-block;
            width: 33.33%;
            margin-right: 0;
          }
        }
      }

      .link {
        &.__select-all {
          position: relative;
          left: 0;
          display: inline-block;
        }
      }
    }
  }
  .b_specification--item {
    display: block;
    width: 100%;
  }

  .b_filter--layout{

    &.__specification {
      padding-top: 30px;
    }

    &.__manufacturers {
      padding-bottom: 30px;

      .link.__select-all {
        margin-bottom: 15px;
      }
    }
  }

  .b_filter--footer {
    padding-top: 30px;
  }
  .b_filter--body {
    padding-bottom: 20px;
  }
}
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px)
{

}
/** SmartPhone: End **/