.block__footer {
  display: block;
  width: 100%;
  background-color: #2F4E80;
}
.b_footer--wrapper {
  display: block;
  width: 1126px;
  font-size: 0;
  margin: 0 auto;
  text-align: center;
}
.b_footer--layout {
  display: inline-block;
  font-size: 13px;
}
.b_footer--layout.__left {
  width: 270px;
  margin-right: 30px;
}
.b_footer--layout.__right {
  width: 826px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  BODY .b_footer--wrapper,
  BODY .b_footer--layout.__left,
  BODY .b_footer--layout.__right {
    display: block;
    width: 100%;
  }
}
/** Desktop: End **/
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_footer--wrapper {
    width: 100%;
    padding: 0 39px;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_footer--wrapper {
    padding: 0 15px;
  }
}
/** Tablet: End **/
/*# sourceMappingURL=footer.css.map */