.block__gallery {
  position: relative;
  display: block;
  width: 100%;
}

.b_gallery--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 31.61%;
}

.b_gallery--pic {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.b_gallery--sticker {
  position: absolute;
  top: 10px;
  left: 0;
  width: auto;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  color: #fff;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  background: #C45B55;

  &:after,
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 25px;
    background: #C45B55;
  }
  &:after {
    transform: skewX(15deg);
  }
  &:before {
    transform: skewX(-15deg);
  }
}

.b_gallery--preview {
  display: block;
  margin:  0 auto;
  max-width: 220px;
  max-height: 170px;
  mix-blend-mode: multiply;
}

.b_gallery--overlay {
  position: relative;
  display: block;
  width: 100%;
}

.b_gallery--layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 7.5%;
}

.b_gallery--item {
  display: block;
  width: 21%;
  height: 45px;
  background-color: #fff;

  .b_gallery--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    text-align: center;

    .b_gallery--img {
      display: block;
      max-width: 45px;
      height: 40px;
    }
  }
}

.b_gallery--button {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 15px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 6px;
  background-color: transparent;
  cursor: pointer;

  &.__left {
    left: 0;
    background-position: left center;
    background-image: url("/img/svg/arrows/arrow-blue-big-left-hover.svg");
  }

  &.__right {
    right: 0;
    background-position: right center;
    background-image: url("/img/svg/arrows/arrow-blue-big-right-hover.svg");
  }
}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_gallery--wrapper {
    position: relative;
    width: auto;
  }

  .b_gallery--overlay { display: none }

  .b_gallery--pic {
    height: 230px;
  }
  .b_gallery--preview {
    max-width: 100%;
    max-height: 200px;
  }
}
/** Desktop: End **/

