.block__goods {
  display: block;
  width: 100%;
}

.b_goods--wrapper {
  display: block;
  width: 100%;
}

.b_goods--head {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #E5E8EE;

  .b_goods--link {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    text-decoration: none;
  }

  .b_goods--manufacturer {
    display: inline-block;
    height: 100%;
    width: auto;
    max-height: 40px;
    max-width: 187px;
    mix-blend-mode: multiply;
  }
}

.b_goods--title {
  color: #000;
  line-height: 40px;
  font-size: 30px;
  font-weight: 500;
}

.b_goods--body {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.b_goods--overlay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.b_goods--layout {
  display: inline-block;
  width: 100%;

  &.__left {
    width: 31.61%;
    padding-top: 270px;
  }
  &.__right { width: 66.936% }
}

.b_goods--footer {

}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_goods--layout
  {
    &.__left{
      padding-top: 0;
    }
  }

  .b_goods--title {
    display: block;
  }
  .b_goods--head .b_goods--link {
    position: relative;
    display: block;
  }
  .b_goods--body {
    padding-top: 10px;
  }

  .b_goods--layout
  {
    &.__left{
      padding-top: 0;
    }
  }

  .b_goods--overlay {
    padding-top: 10px;
  }
}
/** Desktop: End **/

/** Tablet: Start **/
@media (max-width: 768px) {
  .b_goods--layout
  {
    &.__left{
      display: none;
    }
    &.__right{
      width: 100%;
    }
  }
  .b_gallery--pic {
    margin-bottom: 0;
  }
}
/** Tablet: End **/
