.block__job {
  display: block;
  width: 100%;

  .button {
    width: 150px;
    margin: 20px 0 0 0 ;
  }
}

.b_job--wrapper {
  display: block;
  width: 100%;
}

.b_job--text {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}


.b_job--head {
  position: relative;
  display: block;
  width: 100%;
}

.b_job--body {
  display: block;
  width: 100%;
}

.b_job--item {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 20px;
  background-color: #EEF1F6;

  &.__open
  {
    .b_job--overlay {
      display: block;
    }
    .b_job--toggle {
      transform: rotate(180deg);
    }
  }
}

.b_job--title {
  display: block;
  width: 100%;
  padding-right: 50px;
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}

.b_job--toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 40px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/arrows/arrow-blue-big-down.svg");
}

.b_job--price {
  display: block;
  width: 100%;
  margin-top: 15px;
  line-height: 30px;
  font-size: 22px;
}

.b_job--overlay {
  display: none;
  width: 100%;
}

.b_job--layout {
  display: block;
  width: 100%;
}

.b_job--footer {
  display: block;
  width: 100%;
}