.block__library {
  display: block;
  width: 100%;
}

.b_library--wrapper {
  display: block;
  width: 100%;
}

.b_library--overlay {
  display: block;
  width: 100%;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #DBDEE3;
}

.b_library--item {
  display: block;
  width: 100%;
  min-height: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 22px;
  background-image: url("/img/svg/doc-pdf.svg");

  &.__doc {
    background-image: url("/img/svg/doc-doc.svg");
  }

  .link.__dotted {
    font-size: 12px;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.b_library--header {
  display: block;
  width: 100%;
}

.b_library--body {
  display: block;
  width: 100%;
}

.b_library--footer {
  display: block;
  width: 100%;
  padding-top: 30px;

  .__header {
    margin-bottom: 5px;
    line-height: 20px;
  }

  A.link {
    line-height: 25px;
    text-decoration: underline;
    text-decoration-style: solid;
    border-bottom: none;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}