.block__menu {
  display: block;
  width: 270px;
  padding-top: 15px;
}

.b_menu--layout {
  display: block;
}

.b_menu--layout {
  display: block;
  margin-bottom: 30px;
}

.b_menu--title {
  display: block;
  margin-right: 20px;
  padding: 5px 0 5px 15px;
  color: #FFF;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  letter-spacing: 0.3px;
  background-color: #2F4E80;
}

.b_menu--list {
  display: block;
}

.b_menu--item {
  position: relative;
  display: block;

  &.__glow {
    .b_menu--link {
      color: #C45B55;
    }
  }

  &.__active {
    background-color: rgba(38, 81, 151, 0.1);
  }

  .b_menu--item
  {
    &:hover {
      background-color: #ECEFF5;
    }
  }

  &.__open
  {
    position: relative;
    top: -1px;
    background-color: #ECEFF5;
    border-top: 1px solid #ECEFF5;
    z-index: 150;

    .b_menu--link {
      border-bottom: none;
    }
  }
}

.b_menu--link {
  display: block;
  width: 235px;
  margin: 0 auto;
  padding: 3px 20px 3px 0;
  color: #000;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-decoration: none;
  border-bottom: 1px solid rgba(38, 81, 151, 0.1);
  cursor: pointer;
}



/** Desktop: Start **/
@media ( max-width: 1126px )
{
  .b_menu--wrapper
  {
    &:hover {
      cursor: pointer;

      .b_menu--title:hover,
      .b_menu--link:hover {
        color: #E6B623;
      }
    }
  }

  BODY .b_overlay--layout{
    &.__left {
      padding-top: 0;
    }
    &.__right {
      padding-top: 20px;
    }
  }

  BODY.__menu {
    .block__menu {
      left: 0;
    }
  }

  .block__menu {
    position: fixed;
    left: -100%;
    display: block;
    height: 100%;
    padding-top: 0;
    background-color: #213C68;
    transition: all .35s;
    overflow: auto;
    z-index: 999;
  }

  .b_menu--layout {
    position: relative;
    padding: 0 15px;
    margin-bottom: 0;

    A {
      text-decoration: none;
      border-bottom: none;
    }

    .b_menu--list
    {
      padding-left: 20px;
    }

    &.__active {
      background-color: #2F4E80;

      .b_menu--title {
        border-top-color: transparent;
      }

      .b_menu--list {
        position: relative;
        top: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        height: auto;

        &:before{
          top: -30px;
          transform: rotate(90deg);
        }


        .b_menu--item {
          height: auto;
        }

        .b_menu--link {
          display: block;
        }
      }

      & + .b_menu--layout {
        .b_menu--link {
          border-top-color: transparent;
        }
        .b_menu--title {
          border-top-color: transparent;
        }
      }
    }

    &:hover
    {
      .b_menu--title {
        background-color: transparent;
      }
    }

    &:first-child {
      padding: 12px 15px;
      background-color: #265197;
      border: none;
    }

    &:nth-child(2)
    {
      .b_menu--title {
        border-top-color: transparent;
      }
    }

  }

  .b_menu--link,
  .b_menu--title {
    width: 100%;
    padding: 5px 0;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-top: 1px solid #79869A;
  }
  .b_menu--title {
    line-height: 19px;
    background-color: transparent;
  }


  .b_menu--list {
    position: absolute;
    top: 0;
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;

    &:before{
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(/img/svg/arrows/arrow-right-small-white.svg);
    }

    .b_menu--item {
      height: 0;
    }
    .b_menu--link {
      display: none;
    }

    .block__submenu {
      display: none;
    }

  }

  .b_menu--item
  {
    &:hover {
      background-color: transparent;
    }
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px) { }
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px) {

  BODY.__menu {
    .block__menu {
      max-width: 100%;
    }
  }
}
/** SmartPhone: End **/