.block__navigator {
  display: block;
}

.b_navigator--wrapper {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 0;
  padding: 10px;
  z-index: 999;
  background-color: #ECEFF5;
}

.b_navigator--list {
  display: block;
  width: 62.35%;
}

.b_navigator--item {
  display: inline-block;
  width: 50%;
}

.b_navigator--link {
  display: block;
  width: 100%;
  color: #265197;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgba(38, 81, 151, .5);
  }
}


/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_nav--wrapper {
    position: relative;
  }

  .b_navigator--wrapper {
  }
}
/** Desktop: End **/
