.block__news {
  display: block;
  width: 100%;
}
.b_news--wrapper {
  display: block;
  width: 100%;
  font-size: 0;
}
.b_news--item {
  display: block;
  width: 33.33%;
}
.b_news--body {
  display: block;
  width: 100%;
  padding: 0 30px 30px 0;
}
.b_news--date {
  display: block;
  width: 100%;
  color: #434343;
  font-size: 12px;
  line-height: 20px;
}
.b_news--title {
  display: block;
  width: 100%;
  color: #1B3C72;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}
.b_news--text {
  display: block;
  width: 100%;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
/*# sourceMappingURL=news.css.map */