.block__news {
  display: block;
  width: 100%;
}

.b_news--wrapper {
  display: flex;
  width: 100%;
  margin-top: -15px;
  font-size: 0;
}

.b_news--item {
  position: relative;
  display: inline-block;
  width: 33.33%;

  A.link {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}
.b_news--body {
  display: block;
  width: 100%;
  padding: 0 30px 35px 0;
}

.b_news--date {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #434343;
  font-size: 12px;
  line-height: 20px;
}

.b_news--title {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #1B3C72;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.b_news--text {
  display: block;
  width: 100%;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}


/** Desktop: Start **/
@media (max-width: 1126px) {

  .block__news
  {
    .b_news--item
    {
      A.link {
        font-size: 14px;
      }
    }
  }
  .b_news--item { width: 50% }
  .b_news--item:nth-child(1) { display: none }

}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px) {
  .b_news--title { margin-bottom: 0 }
  .b_news--item { width: 100% }
  .b_news--item:nth-child(2) { display: none }
}
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px) { }
/** SmartPhone: End **/
