.b_office--requisites {
  display: inline-block;
  min-width: 175px;
  float: right;
  padding: 3px 0 35px 0;
  color: #FFF;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  background-color: #265197;
  background-image: url("/img/svg/word.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=office.css.map */