.block__office  {
  display: block;
  width: 100%;
}

.b_office--wrapper {
  display: block;
  width: 100%;
  font-size: 0;
}

.b_office--item {
  display: inline-block;
  width: 50%;
  min-height: 355px;
  margin-top: 10px;
  padding: 20px;
  background-color: #E5E8EE;
  border-right: 1px solid #fff;
}


.b_office--title {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  line-height: 26px;
  font-size: 24px;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.b_office--head {
  display: block;
  width: 100%;
}

.b_office--footer {
  display: block;
  width: 100%;
  max-height: 405px;
  margin-bottom: 20px;
  &>*{
    max-height: 405px;
  }
}

.b_office--map {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.b_office--overlay {
  display: block;
  width: 100%;
}

.b_office--layout {
  display: block;
  width: 100%;
  padding: 0 0 20px 30px;
  background-repeat: no-repeat;
  background-position: left 0;

  &.__phone { background-image: url("/img/svg/phone-blue.svg") }
  &.__geo-point { background-image: url("/img/svg/geo_point-blue.svg") }
  &.__clock { background-image: url("/img/svg/clock-blue.svg") }

  &.__mail {
    background: url("/img/svg/mail-blue.svg") left 2px transparent no-repeat;
  }

}

.b_office--row {
  display: block;
  width: 100%;
}

.b_office--text {
  display: inline;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-family: "Roboto-Regular", sans-serif;
  text-decoration: none;
  background-color: transparent;
}

.b_office--link {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-family: "Roboto-Regular", sans-serif;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  SUB {
    display: inline-block;
    padding-left: 5px;
    color: #000;
    line-height: 20px;
    font-size: 13px;
  }
}

.b_office--ui
{
  &.__dotted {
    margin: 1px 0;
    line-height: 18px;
    font-size: inherit;
    display: inline-block;
    border-bottom: 1px dashed #000;
  }
}

.b_office--button {
  display: inline-block;
  width: 100%;
}

.b_office--requisites {
  position: relative;
  display: inline-block;
  min-width: 175px;
  height: 30px;
  float: right;
  padding: 3px 0 0 35px;
  margin: 10px 20px;
  color: #FFF;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  background-color: #2F4E80;
  background-image: url("/img/svg/word.svg");
  background-position: 15px center;
  background-repeat: no-repeat;

  &:after {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: all 0.35s;
  }

  &:hover
  {
    background-color: #265197;

    &:after {
      height: 5px;
      opacity: 0.2;
    }
  }
}

.b_office--item
{
  &.__active {
    margin-top: 0;
    padding-top: 30px;
    background-color: #2F4E80;
    min-height: 365px;

    .b_office--layout
    {
      &.__phone { background-image: url("/img/svg/phone-white.svg") }
      &.__mail { background-image: url("/img/svg/mail-white.svg") }
      &.__geo-point { background-image: url("/img/svg/geo_point-white.svg") }
      &.__clock { background-image: url("/img/svg/clock-white.svg") }
    }

    .b_office--title,
    .b_office--link,
    .b_office--text {
      color: #fff;

      SUB {
        color: #fff;
      }
    }

    .b_office--link
    {
      .b_office--ui
      {
        &.__dotted {
          display: inline-block;
          border-bottom-color: #fff;
        }
      }
    }
  }

  .button {
    width: 165px;
  }
}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  BODY {

    .b_office--item {
      display: block;
      width: 100%;
      border-top: 1px solid #DBDEE3;
      background-color: transparent !important;

      padding: 30px 0;

      &.__active {
        padding: 30px 0;

        .b_office--title {
          color: #000;
        }
      }

      .b_office--head {
        display: flex;
        flex-direction: row-reverse;
        font-size: 0;
        min-height: auto !important;

        .b_office--overlay {
          display: inline-block;
          width: 50%;
        }

        .b_office--layout
        {
          &.__phone {
            background: none;

            .b_office--link {
              display: block;
              width: 100%;
              padding: 10px 0;
              margin: 0 0 25px 0;
              color: #fff;
              line-height: 20px;
              font-size: 14px;
              text-align: center;
              background-color: #1B3866;

              &.__notice {
                line-height: 15px;
                padding: 5px 0 0 0;

                SUB {
                  display: block;
                  width: 100%;
                  color: #fff;
                  line-height: 20px;
                  font-size: 10px;
                }
              }


              &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: ' ';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #000;
                opacity: 0;
                transition: all 0.35s;
              }

              &:hover
              {
                background-color: #1B3C72;

                &:after {
                  height: 5px;
                  opacity: 0.2;
                }
              }

            }
          }
          &.__mail { background-image: url("/img/svg/mail-blue.svg") }
          &.__geo-point { background-image: url("/img/svg/geo_point-blue.svg") }
          &.__clock { background-image: url("/img/svg/clock-blue.svg") }

          &.__flip {
            padding-left: 0;
          }
        }

        .b_office--title,
        .b_office--text {
          color: #000;

          SUB {
            color: #000;
          }
        }

        .b_office--link
        {
          color: #265197;
          .b_office--ui
          {
            &.__dotted {
              display: inline-block;
              border-bottom-color: #265197;
            }
          }
        }

      }

      .b_office--overlay.__buttons
      {
        .button {
          display: block;
          width: 100%;
        }
      }

    }


    .b_office--footer {
      max-height: 340px;
      &>*{
        max-height: 340px;
      }
    }

  }

  .b_office--requisites {
    margin: 0;
  }

  .b_office--title {
    line-height: 25px;
    font-size: 20px;
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px)
{
    BODY
  {
    .b_office--head
    {
      padding: 20px 0;
      flex-direction: column-reverse !important;

      .b_office--overlay {
        display: block !important;
        width: 100% !important;

        .b_office--layout
        {
          &.__phone {
            padding-left: 0
          }
        }
      }
    }

    .b_office--footer {
      max-height: 170px;
      &>*{
        max-height: 170px;
      }
    }
  }
}
/** Tablet: End **/



/** SmartPhone: Start **/
@media (max-width: 576px) { }
/** SmartPhone: End **/