.block__params dl {
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.block__params dt {
  font-weight: bold;
}
.block__params .dt-dotted {
  overflow-x: hidden;
  position: relative;
  width: 200px;
}
.block__params .dt-dotted > span {
  position: relative;
}
.block__params .dt-dotted > span:after {
  color: #000;
  content: '';
  left: 100%;
  position: absolute;
  top: 0;
}
.block__params dd {
  margin-left: 0;
  position: relative;
}
.block__params .dl-inline > dt {
  clear: left;
  float: left;
  margin-right: 3px;
}
.block__params .dl-inline > dd {
  display: inline-block;
  margin-left: 0;
}
/*# sourceMappingURL=params.css.map */