.block__params {

  .b_params--overlay {
    margin-bottom: 0;
    margin-top: 0;
  }

  .b_params--layout {
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }

  .b_params--layout {
    overflow-x: hidden;
    position: relative;
    width: 65%;
  }

  .b_params--layout > span {
    position: relative;
  }

  .b_params--layout > span:after {
    color: #7487A7;
    content: '..............................................................';
    left: 100%;
    position: absolute;
    top: 0;
  }

  dd {
    margin-left: 0;
    position: relative;
  }

  .b_params--overlay > dt {
    clear: left;
    float: left;
    margin-right: 5px;
  }

  .b_params--overlay > dd {
    display: inline-block;
    margin-left: 0;
  }
}
