.block__pic {
  display: block;
  width: 100%;
}
.b_pic--wrapper {
  display: flex;
  width: 100%;
  font-size: 0;
}
.b_pic--img {
  display: inline-block;
  width: 65%;
}
.b_pic--description {
  width: 35%;
  background-color: #2F4E80;
}
/*# sourceMappingURL=pic.css.map */