.block__price {
  display: block;
  width: 100%;
}
.b_price--wrapper {
  display: block;
  width: 100%;
}
.b_price--text {
  display: inline-block;
}
.b_price--overlay {
  display: inline-block;
  text-align: center;
}
.b_price--img {
  display: inline-block;
  width: 45px;
  height: 20px;
  border: none;
}
/*# sourceMappingURL=price.css.map */