.block__print {
  display: block;
  width: 100%;
}
.block__print .b_price--wrapper.__print {
  display: flex;
}
.block__print .b_price--wrapper.__print .b_price--layout {
  display: block;
  width: auto;
}
.block__print .b_price--wrapper.__print .b_price--layout .b_price--text {
  display: block;
  width: 100%;
}
.block__print .b_price--wrapper.__print .b_price--layout .b_price--sale {
  display: block;
  width: 100%;
}
.block__print .b_price--wrapper.__print .b_price--description {
  display: block;
  width: auto;
}
/*# sourceMappingURL=print.css.map */