.block__print {
  display: block;
  width: 100%;

  .b_price--wrapper
  {
    &.__print {
      display: flex;

      .b_price--layout {
        display: block;
        width: auto;

        .b_price--text{
          display: block;
          width: 100%;
          margin-right: 30px;
        }

      }
      .b_price--description{
        display: block;
        width: auto;
        margin-top: 0;

        &:before {
          top: 15px;
          left: -7px;
        }
      }
    }
  }

  .sticker {
    top: 40px;
    left: 0;
  }

}

.b_print--logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 335px;
  height: auto;

}


.b_print--head {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding-left: 350px;
}
.b_print--overlay {
  position: relative;
  display: inline-block;
  width: 100%;
}

.b_print--layout {
  display: inline-block;
  width: 50%;
}

.b_print--text {
  display: block;
  width: 100%;
  padding-left: 30px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;

  SUB {
    display: block;
    line-height: 20px;
    font-size: 12px;
  }

  &.__geo-point {
    background-image: url("/img/svg/geo_point-blue.svg");
    background-size: 15px;
  }

  &.__clock {
    background-image: url("/img/svg/clock-blue.svg");
    background-size: 16px;
  }
  &.__phone { background-image: url("/img/svg/phone-blue.svg") }
  &.__share { background-image: url("/img/svg/share.svg") }
  &.__mail { background-image: url("/img/svg/mail-blue.svg") }
}


.b_print--body {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0;
}

.b_print--preview {
  display: inline-block;
  width: 635px;
  height: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #C4C4C4;
}
.b_print--product {
  display: inline-block;
  width: auto;
  height: 100%;
  max-height: 180px;
  mix-blend-mode: multiply;
}

.b_print--tools{
  display: inline-block;
  width: 190px;
  padding-left: 10px;
}

.b_print--button {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  background-color: #265197;
  text-align: left;
  text-decoration: none;
  cursor: pointer;

  I {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &.print{ background-image: url("/img/svg/printer-white.svg") }
    &.mail{ background-image: url("/img/svg/mail-white-20.svg") }
    &.download{ background-image: url("/img/svg/download-white.svg") }
  }
}

@media print {
  .b_print--preview{
    width: 100%;
  }
  .b_print--tools{
    display: none;
  }
}