.block__product {
  display: block;
  width: 100%;
}
.b_product--wrapper {
  display: block;
  width: 100%;
}
.b_product--head {
  display: block;
  width: 100%;
}
.b_product--sticker {
  display: block;
  width: 100%;
}
.b_product--img {
  display: block;
  width: 100%;
}
.b_product--body {
  display: block;
  width: 100%;
}
.b_product--title {
  display: block;
  width: 100%;
}
.b_product--price {
  display: block;
  width: 100%;
}
.b_product--footer {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=product.css.map */