.block__projects {
  display: block;
  width: 100%;
}

.b_projects--item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 365px;
  padding: 0 0 45px 0;
  text-align: left;
  background-color: #2F4E80;
}


.b_projects--img {
  display: block;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.b_projects--overlay {
  padding: 10px 15px 0 15px;
}
.b_projects--link {
  display: block;
  width: 100%;
}

.b_projects--title {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  color: #FFF;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}


.b_projects--text {
  display: block;
  width: 100%;
  color: #FFF;
  line-height: 20px;
  font-size: 14px;
}


.b_projects--category {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  display: block;
  color: #FFF;
  line-height: 20px;
  font-size: 14px;
}
.b_projects--icon {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;

  &.__bank { background-image: url("/img/svg/projects/category/projects-category-bank.svg"); }
  &.__olympic { background-image: url("/img/svg/projects/category/projects-category-olympic.svg") }
}


/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_projects--item
  {
    .b_projects--img {
      height: 160px;
    }
  }
}
/** Desktop: End **/


