.block__projects {
  display: block;
  width: 100%;
}
.b_projects--item {
  display: block;
  width: 100%;
}
.b_projects--img {
  display: block;
  width: 100%;
}
.b_projects--link {
  display: block;
  width: 100%;
}
.b_projects--title {
  display: block;
  width: 100%;
}
.b_projects--text {
  display: block;
  width: 100%;
}
.b_projects--category {
  display: block;
  width: 100%;
}
.b_projects--icon {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=projects.css.map */