.block__article {
  display: block;
  width: 100%;
}
.block__article .block__list {
  margin: 0 0 10px 0;
}
.block__article .block__list .b_list--item {
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 14px;
}
.b_article--wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 0;
}
.b_article--head {
  display: inline-block;
  width: 40%;
}
.b_article--preview {
  position: relative;
  display: inline-block;
  background-color: #fff;
}
.b_article--img {
  display: inline-block;
  width: 95px;
  height: 60px;
  margin: 10px 10px 10px 0;
  background-color: #fff;
}
.b_article--pic {
  display: inline-block;
  width: 100%;
}
.b_article--body {
  display: inline-block;
  width: 60%;
  padding-right: 30px;
}
.b_article--header {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}
.b_article--date {
  display: block;
  width: 100%;
  color: #C4C4C4;
  line-height: 20px;
  font-size: 12px;
}
.b_article--text {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_article--wrapper {
    display: block;
    flex-direction: initial;
  }
  .b_article--head {
    width: 100%;
    margin-bottom: 30px;
  }
  .b_article--preview {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px;
  }
  .b_article--preview .b_article--pic {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    height: auto;
    width: auto;
  }
  .b_article--body {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
@media (max-width: 576px) {
  .b_article--preview .b_article--pic {
    max-height: 195px;
  }
}
/** SmartPhone: End **/
/*# sourceMappingURL=public.css.map */