.block__public {
  display: block;
  width: 100%;

  .block__list
  {
    margin: 0 0 10px 0;

    .b_list--item {
      display: block;
      width: 100%;
      line-height: 25px;
      font-size: 14px;
    }
  }

  .block__example
  {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DBDEE3;

    & > * {
      margin-right: 30px;
    }

    .b_example--param {
      font-size: 14px;
    }
    .b_example--title {
      position: relative;
      top: 0;
      display: inline-block;
      width: auto;
      margin: 0;
      font-size: 14px;
    }
  }

  .b_content--header
  {
    margin-bottom: 15px;

    .text-30_50.__header {
      line-height: 35px;
    }
  }
}

.b_public--wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 0;
}

.b_public--head {
  display: inline-block;
  width: 40%;
}

.b_public--preview {
  position: relative;
  display: inline-block;
  background-color: #fff;
}

.b_public--img {
  display: inline-block;
  width: 95px;
  height: 60px;
  margin: 10px 10px 10px 0;
  background-color: #fff;
}

.b_public--pic {
  display: inline-block;
  width: 100%;
}

.b_public--body {
  display: inline-block;
  width: 60%;
  padding-right: 30px;
}

.b_public--header {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}

.b_public--date {
  display: block;
  width: 100%;
  color: #C4C4C4;
  line-height: 20px;
  font-size: 12px;
}

.b_public--text {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  line-height: 20px;
  font-size: 14px;

  B {
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }

  &.__blue {
    color: #2F4E80;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
}


/** Tablet: Start **/
@media (max-width: 1126px)
{
  .b_public--wrapper {
    display: block;
    flex-direction: initial;
  }

  .b_public--head {
    width: 100%;
    margin-bottom: 30px;
  }
  .b_public--preview {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px;

    .b_public--pic {
      display: block;
      margin: 0 auto;
      max-height: 300px;
      height: auto;
      width: auto;
    }
  }

  .b_public--body {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .block__public
  {
    .block__example {
      border-bottom: none;
      margin-bottom: 20px;

      .b_example--title {
        display: block;
        margin: 30px 0 0 0;
        color: #000;
      }
    }
    .b_public--preview
    {
      .b_public--pic {
        max-height: 180px;
      }
    }

    & + .block__portfolio
    {
      .b_portfolio--header {
        margin-top: 30px;
      }
      .b_portfolio--body.__blue {
        padding-top: 0;
        border-bottom: none;
      }
    }
  }

}
/** Tablet: End **/

/** SmartPhone: Start **/
@media (max-width: 576px)
{

  .b_public--preview
  {
    .b_public--pic {
      max-height: 195px;
    }
  }
}
/** SmartPhone: End **/
