.block__question {
  display: block;
  width: 100%;
  padding:  40px 0;
  background: #E5E8EE;
}

.b_question--wrapper {
  padding: 0 40px;
}
.b_question--label {
  display: block;
  width: 100%;
  padding-bottom: 20px;

  .input {
    width: 100%;
    padding: 8px 20px;
  }

  .textarea {
    width: 100%;
    min-height: 90px;
  }
}
.b_question--icon {
  display: block;
  margin: 0 auto 10px auto;
}

.b_question--title {
  display: block;
  width: 100%;
  padding-top: 15px;
  color: #2F4E80;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
}

.b_question--text {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  color: #000;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

.b_question--head {
  display: inline-block;
  width: 50%;
}

.b_question--body {
  display: inline-block;
  width: 50%;
}


/** Tablet: Start **/
@media (max-width: 1126px)
{
  .block__question {
    padding-top: 40px;
    margin-top: 30px;
  }

  .b_question--wrapper {
    display: flex;
    width: 100%;
  }

  .b_question--head {
    display: block;
    width: 50%;
  }

  .b_question--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    .button {
      margin: 10px 0;
    }
  }

  .b_question--text {
    width: 100%;
  }

}
/** Tablet: End **/

/** Tablet: Start **/
@media (max-width: 768px) {

  BODY {

    .block__question {
      padding-top: 40px;

      .b_question--wrapper {
        display: block;
        padding: 0 15px;
      }

      .b_question--head {
        display: block;
        width: 100%;
      }

      .b_question--body {
        display: block;
        width: 100%;
        padding: 0 0 10px 0;

        .button {
          margin: 10px 0;
        }
      }

      .b_question--text {
        width: 100%;
      }

    }

  }

}
/** Tablet: End **/