.block__question {
  display: block;
  width: 100%;
  background: #E5E8EE;
}
.b_question--title {
  color: #2F4E80;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.b_question--text {
  color: #000;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=question.css.map */