.block__quote {
  display: block;
  width: 100%;
}
.b_quote--body {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px;
  min-height: 190px;
  background-color: #EEF1F6;
}
.b_quote--img {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 160px;
  height: 150px;
}
.b_quote--text {
  display: block;
  width: 100%;
  color: #000;
  line-height: 30px;
  font-size: 18px;
  font-style: italic;
}
.b_quote--author {
  display: block;
  width: 100%;
  color: #2F4E80;
  line-height: 30px;
  font-size: 14px;
  font-style: italic;
}
/*# sourceMappingURL=quote.css.map */