.block__responds {
  display: block;
  width: 100%;
}
.b_respond--wrapper {
  display: block;
  width: 100%;
}
.b_respond--head {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
.b_respond--filter {
  display: inline-block;
  margin-right: 30px;
  color: #265197;
  line-height: 18px;
  font-size: 14px;
  border-bottom: 1px dashed #93A8CB;
}
.b_respond--filter:hover {
  border-bottom-color: transparent;
}
.b_respond--body {
  display: block;
  width: 100%;
  margin-top: 25px;
}
.b_respond--item {
  position: relative;
  display: block;
  width: 100%;
  margin: 20px 0 30px 0;
  padding: 20px 20px 170px 20px;
}
.b_respond--link {
  display: block;
  width: 100%;
}
.b_respond--img {
  position: absolute;
  left: -20px;
  top: -20px;
  display: block;
  width: 100%;
}
.b_respond--title {
  display: block;
  width: 100%;
  margin: 6px 0;
  color: #000;
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_respond--text {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}
.b_respond--spoiler {
  display: block;
  width: 100%;
}
.b_respond--spoiler.__active .b_respond--layout {
  display: block;
}
.b_respond--layout {
  display: none;
  width: 100%;
}
.b_respond--button {
  display: inline-block;
  color: #265197;
  line-height: 18px;
  font-size: 14px;
  border-bottom: 1px dashed #93A8CB;
}
.b_respond--button:hover {
  border-bottom-color: transparent;
}
/*# sourceMappingURL=responds.css.map */