.block__search {
  display: block;
  width: 100%;
}

.block__header
{
  .block__search {
    display: inline-block;
    width: 25%;
  }
  .b_search--wrapper {
    padding-left: 10px;
  }
}

.b_search--wrapper {
  display: block;
  width: 100%;
}

.b_search--label {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E5E8EE;
  border-radius: 1px;

  &:hover
  {
    .b_search--input {
      z-index: 200;
    }
    .b_search--button {
      z-index: 200;
    }
  }
}

.b_search--input {
  position: relative;
  display: block;
  width: 100%;
  height: 33px;
  padding: 5px 50px 5px 5px;
  color: #000;
  font-size: 14px;
  line-height: 25px;
}
.b_search--button {
  position: absolute;
  top: 5px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;

  &.__clear
  {
    right: 30px;
    .b_search--ico{
      background-image: url("/img/svg/close-gray.svg");
    }
  }
  &.__loop
  {
    right: 10px;
    .b_search--ico{
      background-image: url("/img/svg/loupe-blue.svg");
    }
  }
}
.b_search--ico {
  display: block;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.b_search--layout {
  display: inline-block;

  &.__button {
    position: absolute;
    top: -80px;
    right: 0;
    width: 20%;
    padding-left: 20px;
  }
}



/** Desktop: Start **/
@media (max-width: 1126px)
{
  .block__header
  {
    .b_search--layout {

      &.__button {
        top: 0;
      }
    }
    .b_header--overlay {
      &.__head {
        padding-bottom: 0;
      }
      &.__footer .block__search {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
      }
    }

    .b_search--wrapper {
      width: 48.5%;
      padding-left: 0;

      .b_search--input {
        height: 40px;
        padding: 10px 40px;
      }


      .b_search--button{
        top: 10px;
        left: 10px;
        right: auto;
        &.__clear{
          left: auto;
          right: 10px;
        }
      }
    }
    .b_search--layout.__button {
      width: 48.5%;
    }
  }

}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px)
{
  .block__header
  {
    .b_header--overlay.__head {
      padding-bottom: 20px;
    }

    .b_header--overlay.__footer .block__search {
      flex-wrap: wrap-reverse;
      flex-direction: row-reverse;

      .b_search--wrapper {
        width: 100%;
        padding-left: 0;
        padding-top: 15px;
      }

      .b_search--layout.__button {
        width: 100%;
        padding-top: 30px;
        padding-left: 0;
      }

    }

    #search,
    .b_header--overlay.__footer .block__search .b_search--layout.__button {
      padding-top: 0;
    }
  }
}
/** Tablet: End **/
