.block__selection {
  display: block;
  width: 100%;
}
.b_selection--head {
  display: block;
  width: 100%;
}
.b_selection--header {
  display: block;
  width: 100%;
}
.b_selection--body {
  display: block;
  width: 100%;
}
.b_selection--wrapper {
  display: block;
  width: 100%;
  padding: 20px 5px;
}
.b_selection--wrapper.__trio .b_selection--link {
  width: 33.33%;
}
.b_selection--link {
  display: inline-block;
  width: 100%;
  margin-left: 10px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
}
/*# sourceMappingURL=selection.css.map */