.block__service {
  display: block;
  width: 100%;
}
.b_service--title {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
}
.b_service--text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}
.b_service--text A {
  display: inline-block;
  color: #265197;
  line-height: 25px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #93A8CB;
}
/*# sourceMappingURL=service.css.map */