.block__service {
  display: block;
  width: 100%;
}

.b_service--title {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;

}
.b_service--text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  line-height: 25px;
  font-size: 14px;

  &.__flip {
    margin-bottom: 0;
  }

  A {
    display: inline-block;
    color: #265197;
    line-height: 15px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #93A8CB;
    vertical-align: baseline;
  }
}

.b_service--text {

}