.block__setups {
  display: block;
  width: 100%;
}

.b_setups--wrapper {
  position: relative;
  display: block;
  width: 100%;
  background-color: #2F4E80;
}

.b_setups--head {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 300px;
  font-size: 0;

  .b_setups--label {
    width: 105px;
  }
  .b_setups--link {
    width: 195px;
  }
}

.b_setups--body{
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 300px;
  font-size: 0;

  .b_setups--link {
    width: 20%;
  }

  &.__4 {
    .b_setups--link {
      padding: 5px 0;
      width: 25%;
    }
  }
}

.b_setups--footer {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 120px;
  font-size: 0;

  .b_setups--link {
    width: 100%;
  }
}

.b_setups--label {
  display: inline-block;
  width: auto;
  padding: 10px 0 10px 10px;
  color: #FFF;
  line-height: 20px;
  font-size: 13px;
  text-align: left;
  background-color: #213C68;
}

.b_setups--link {
  display: inline-block;
  padding: 10px;
  color: #FFF;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-right: 1px solid #2F4E80;

  &.__main {
    text-align: left;
  }

  &.__active {
    color: #1B3C72;
    background-color: #F5DA5A;

    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/img/svg/arrows/sort-bottom.svg");
    }
  }

  &:hover {
    color: #F5DA5A;
    background-color: #213C68;

    &.__active {
      color: #1B3C72;
      background-color: #F5DA5A;
      border-right: 1px solid #2F4E80;
    }
  }
}

