.block__sheet {
  display: block;
}
.b_sheet--wrapper {
  display: block;
  width: 100%;
}
.b_sheet--wrapper.__search {
  position: absolute;
  width: 320px;
}
.b_sheet--item {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=sheet.css.map */