.block__sheet {
  display: block;
}

.b_sheet--wrapper {
  display: block;
  width: 100%;

  &.__search {
    position: absolute;
    top: 99%;
    right: -1px;
    width: 100%;
    min-width: 320px;
    z-index: 200;
    background-color: #fff;
  }
}

.b_sheet--body {
  display: block;
  width: 100%;
}

.b_sheet--item {
  display: block;
  width: 100%;
  padding: 0 10px;

  &:hover {
    background-color: #F8F9FA;

    .b_sheet--overlay {
      border-top-color: transparent;
    }

    & + .b_sheet--item
    {
      .b_sheet--overlay {
        border-top-color: transparent;
      }
    }
  }

  &:first-child
  {
    .b_sheet--overlay {
      border-top-color: transparent;
    }
  }
}

.b_sheet--overlay {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0 10px 70px;
  text-decoration: none;
  border-top: 1px solid #DBDEE3;
}

.b_sheet--layout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 50px;
  padding: 5px;
}
.b_sheet--img {
  display: block;
  height: 100%;
  max-width: 100%;
}

.b_sheet--text {
  display: block;
  width: 100%;
  color: #000;
  line-height: 15px;
  font-size: 11px;
  text-decoration: none;

  & B {
    display: inline-block;
    color: #000;
    line-height: 15px;
    font-size: 11px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
    text-decoration: none;
  }
}