.block__showcase {
  display: block;
  width: 100%;
}

.b_showcase--overlay {
  display: block;
  padding: 5px 0;
}

.b_showcase--wrapper {
  display: block;
  width: 100%;
  padding-top: 0;

  &:first-child {
    padding-top: 0;
  }
  &.__tab {
    display: none;

    &.__active {
      display: block;
      border-bottom: none;

      .b_showcase--body {
      }
    }
  }
}

.b_showcase--head {
  display: block;
  width: 100%;
  font-size: 0;
}

.b_showcase--tools {
  padding-top: 5px;
}

.b_showcase--overlay {
  display: inline-block;
  width: 50%;

  .__display { }
  .__sorting { }
  .__pagination { }
}

.b_showcase--body {
  display: block;
  width: 100%;
}

.b_showcase--footer {
  display: block;
  width: 100%;
}

.b_showcase--ui {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/svg/arrows/dropdown-arrow-top.svg);
}

.__active .b_showcase--ui {
  background-image: url(/img/svg/arrows/dropdown-arrow-bottom.svg);
}


/** Desktop: Start **/
@media (max-width: 1126px)
{
  .b_showcase--wrapper {

    &.__variants {
      padding-top: 0;
    }

    &.__tab {
      display: block;

      .text-24_28 {
        font-size: 20px;
      }

      .b_showcase--body {
        display: none;
      }

      &.__active {

        .b_showcase--body {
          display: block;
        }

        &.__variants
        {
          .b_content--header {
            border-bottom: 1px solid #DBDEE3;
          }
        }
      }

      &.__variants
      {
        .b_content--header {
          margin: 30px 0 0 0;
          padding-bottom: 20px;
        }
      }
    }
  }



  .b_showcase--tools { padding-top: 10px }

  .b_showcase--footer
  {
    .b_showcase--overlay
    {
      &.__pagination {
        width: 100%;

        .b_pagination--overlay
        {
          &.__line {
            float: left;
          }
        }
      }
    }
  }

  .block__showcase
  {
    .block__slider
    {
      &.__active { margin-bottom: 0 }
    }
  }
}
/** Desktop: End **/



/** Tablet: Start **/
@media (max-width: 768px)
{
  .b_showcase--overlay {
    display: block;
    width: 100%;
  }
}
/** Tablet: End **/
