.block__superiority {
  display: block;
  width: 100%;
}
.b_superiority--wrapper {
  display: block;
  width: 100%;
  margin-top: 30px;
}
.b_superiority--item {
  display: block;
  width: 100%;
}
.b_superiority--title {
  display: block;
  margin-bottom: 30px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.b_superiority--text {
  display: block;
  margin: 30px 0;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}
/*# sourceMappingURL=superiority.css.map */