.block__table {
  display: block;
  width: 100%;

  .block__hint {
    position: absolute;
    top: 50%;
    right: 10px;
    height: 16px;
    margin-top: -8px;

    .b_hint--button {
      top: 0;
      left: 0;
    }

    .b_hint--window {
      left: -15px;
    }
  }
}

.b_table--wrapper {
  display: block;
  width: 100%;
}

.b_table--head {
  display: block;
  width: 100%;
}

.b_table--title {
  display: block;
  width: 100%;
  padding: 5px 20px;
  color: #fff;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto-Medium", sans-serif;
  text-align: left;
  background-color: #213C68;

  &.__blue {
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    background-color: #213C68;
  }
}

.b_table--overlay {
  display: block;
  width: 100%;
}

.b_table--column {}



.b_table--row {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 0 0 20px;
  background-color: #EDF0F6;

  &.__main {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #E5E8EE;


    &:after {
      left: 0;
      right: 0;
    }

    .b_table--key {
      display: inline-block;
      width: auto;
      max-width: 30%;
      padding: 0;
      color: rgba(11, 34, 72, 0.51);
      line-height: 18px;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;

      .b_table--value {
        position: relative;
        top: auto;
        right: auto;
        display: block;
        width: auto;
        max-width: 100%;
        padding: 0;
        color: #000;
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        background-color: transparent;
        white-space: normal;
      }
    }
  }


  &:after {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    content: ' ';
    display: block;
    height: 1px;
    background-color: #F7F8FC;
  }

  &:last-child:after {
    display: none;
  }


  &.__blue {
    background-color: #2F4E80;

    &:after { display:  none; }

    .b_table--key {
      color: #fff;
      background-color: transparent;
    }

    .b_table--value {
      color: #fff;
      background-color: #3D5C8D;
    }
  }
}

.b_table--overlay
{
  .b_table--row:last-child
  {
    .b_table--key,
    .b_table--value {
      padding-bottom: 15px;
    }
  }
}

.b_table--key {
  position: relative;
  display: inline-block;
  width: 60%;
  padding: 5px 25px 5px 0;
  color: #000;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
}

.b_table--value {
  display: inline-block;
  width: 40%;
  padding: 5px 20px;
  color: #213C68;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  background-color: #E5E8EE;
}

.b_table--footer {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #213C68;

  .b_table--text { display: block }
}

.b_table--text {
  display: inline-block;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  text-decoration: none;

  &.__phone {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
}


/** Tablet: Start **/
@media (max-width: 890px )
{
  .b_table--row.__main {
    display: block;
    padding-bottom: 10px;

    .b_table--key {
      width: 50%;
      max-width: 50%;
      padding-bottom: 10px;
    }
  }

}
/** Tablet: End **/

