.block__tabs {
  display: block;
  width: 100%;
}

.b_tabs--wrapper {
  display: block;
  width: 100%;

  &.__product {
    border-bottom: none;

    .b_tabs--header {
      border-bottom: none;
    }
    .b_tabs--layout {
      padding: 0;
      background: none;
    }

    .b_tabs--item {
      height: 35px;
      margin-top: 5px;
      padding: 8px 10px;
      background-color: #E5E8EE;
      border-right: 1px solid #fff;
      text-align: center;

      &.__active {
        height: 40px;
        margin-top: 0;
        background-color: #2f4e80;

        .b_tabs--link {
          font-size: 18px;
        }
      }
    }
  }

  &.__catalog {
    border-bottom: none;

    .b_tabs--header {
      border-bottom: none;
    }
    .b_tabs--layout {
      padding: 0;
      background: none;
    }

    .b_tabs--item {
      height: 30px;
      margin-top: 0;
      padding: 5px 10px;
      background-color: transparent;
      text-align: center;

      &:first-child {
        width: auto;
        min-width: auto;
      }

      .b_tabs--link {
        font-size: 14px;
        line-height: 18px;
        font-family: "Roboto-Regular", sans-serif;
      }

      &.__active {
        background-color: #2F4E80;
      }
    }

    .b_tabs--content
    {
      &.__active {
        border-top: 2px solid #2F4E80;
        background-color: #fff;
      }
    }

  }
}

.b_tabs--header {
  display: block;
  width: 100%;
  font-size: 0;
  border-bottom: 2px solid #2f4e80;
}

.b_tabs--item {
  display: inline-block;
  height: 40px;
  padding: 11px 20px;
  cursor: pointer;

  &.__active {
    padding: 10px 20px;
    background-color: #2f4e80;

    .b_tabs--link {
      color: #FFF;
      font-size: 16px;
      line-height: 20px;
      font-family: "Roboto-Medium", sans-serif;
      border: none;
    }
  }

  &:first-child{
    width: 21%;
    min-width: 167px;
  }
}

.b_tabs--link {
  display: inline-block;
  color: #265197;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px dashed rgba(38, 81, 151, .5);
  text-decoration: none;
  transition: background-color .35s, border-bottom-color .35s;

  &:hover {
    border-bottom-color: transparent;
  }
}

.b_tabs--title {
  display: block;
  padding: 10px 20px;
  color: #fff;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  background-color: #1B3866;
}
.b_tabs--layout{
  display: block;
  width: 100%;
  padding: 30px 20px;
  background-color: #EDF0F6;
}
.b_tabs--select {
  width: 48%;
  display: inline-block;
  height: 30px;
  padding-left: 10px;
  color: #fff;
  line-height: 30px;
  font-size: 13px;
  background-color: #2F4E80;
  background-image: url(/img/svg/arrows/dropdown-arrow-top-white.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  border-bottom: 1px solid #2F4E80;
  -moz-appearance: none;
  -webkit-appearance: none;

  OPTION {
    color: #000;
    background-color: #FFF;
  }
}
.b_tabs--text {
  width: 48.5%;
  display: inline-block;
  padding-left: 15px;
  color: #000;
  line-height: 30px;
  font-weight: 300;
  font-size: 12px;
}

.b_tabs--layout {

  .b_tabs--content {
    display: none;

    &.__active {
      display: block;
    }
  }
}

@media (max-width: 1126px) {
  .b_tabs--layout{
    padding: 20px;
  }
}
/** SmartPhone: Start **/
@media (max-width: 576px) {
  .b_tabs--select,
  .b_tabs--text {
    display: block;
    width: 100%;
  }
}
/** SmartPhone: End **/