.block__tabs {
  display: block;
  width: 100%;
}
.b_tabs--item {
  display: block;
  width: 100%;
}
.b_tabs--header {
  display: block;
  width: 100%;
}
.b_tabs--item {
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  text-align: center;
}
.b_tabs--item.__active {
  background-color: #265197;
}
.b_tabs--item:first-child {
  width: 21%;
}
.b_tabs--link {
  display: inline-block;
  color: #265197;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px dashed #C4C4C4;
}
/*# sourceMappingURL=tabs.css.map */