.block__why {
  display: block;
  width: 100%;

  .b_list--wrapper {
    margin-bottom: 0;
  }
}

.b_why--item {
  display: block;
  width: 100%;
}

.b_why--item {
  position: relative;
  display: block;
  width: 100%;
  margin: 30px 0;
  padding: 0 20px 30px 0;
  font-size: 0;
  border-bottom: 1px solid #DBDEE3;
}

.b_why--preview {
  display: inline-block;
  width: 22%;
  height: 130px;
  margin-right: 3%;
  background-color: #fff;
}

.b_why--body {
  display: inline-block;
  width: 75%;
}

.b_why--header {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}

.b_why--img {
  display: block;
  width: auto;
}


/** Tablet: Start **/
@media (max-width: 768px)
{
  .b_why--item {
    display: block;
    padding-right: 0;
  }
  .b_why--preview {
    display:  block;
    width: 100%;
  }
  .b_why--body {
    display:  block;
    width: 100%;
  }
  .b_why--header{
    margin: 20px 0;
  }
}
/** Tablet: End **/
