
/* Roboto.less */

.add_font( @style, @width, @ttf )
{
  @font_path  : replace("/css/fonts/Roboto/%font%.ttf", "%font%", @ttf);
  @local      : replace( replace( replace( replace( @ttf, 'Italic', ' Italic' ), "-Regular", '' ), "-", ' ' ), "  ", ' ' );

  @font-face {
    font-family: @ttf;
    font-style: @style;
    font-weight: @width;
    src: local( @local ), local( @ttf ),  url( @font_path ) format('truetype');
  }
}

/* Roboto : Italic */
.add_font( 'italic', 300, 'Roboto-LightItalic' );
.add_font( 'italic', 400, 'Roboto-Italic' );
.add_font( 'italic', 500, 'Roboto-MediumItalic' );
.add_font( 'italic', 700, 'Roboto-BoldItalic' );
.add_font( 'italic', 900, 'Roboto-BlackItalic' );

/* Roboto : Normal */
.add_font( 'normal', 300, 'Roboto-Light' );
.add_font( 'normal', 400, 'Roboto-Regular' );
.add_font( 'normal', 500, 'Roboto-Medium' );
.add_font( 'normal', 700, 'Roboto-Bold' );
.add_font( 'normal', 900, 'Roboto-Black' );
