/* Roboto.less */
/* Roboto : Italic */
@font-face {
  font-family: 'Roboto-LightItalic';
  font-style: 'italic';
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("/css/fonts/Roboto/Roboto-LightItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Italic';
  font-style: 'italic';
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url("/css/fonts/Roboto/Roboto-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  font-style: 'italic';
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("/css/fonts/Roboto/Roboto-MediumItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  font-style: 'italic';
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("/css/fonts/Roboto/Roboto-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  font-style: 'italic';
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url("/css/fonts/Roboto/Roboto-BlackItalic.ttf") format('truetype');
}
/* Roboto : Normal */
@font-face {
  font-family: 'Roboto-Light';
  font-style: 'normal';
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("/css/fonts/Roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-style: 'normal';
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("/css/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: 'normal';
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("/css/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: 'normal';
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("/css/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Black';
  font-style: 'normal';
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url("/css/fonts/Roboto/Roboto-Black.ttf") format('truetype');
}
