.block__document {
  display: block;
  margin-bottom: 30px;
  padding: 0 15px;
}
.b_document--wrapper {
  display: block;
  width: 100%;
}
.b_document--head {
  position: relative;
  display: block;
  margin-bottom: 30px;
  height: 28px;
}
.b_document--title {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
}
.b_document--item {
  position: relative;
  display: block;
  min-height: 165px;
  margin-left: 20px;
  background-color: #2F4E80;
}
.b_document--img {
  position: absolute;
  top: -20px;
  left: -20px;
  display: inline-block;
}
.b_document--name {
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 15px 20px 95px;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.b_document--text {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: inline-block;
  color: #385A91;
  font-size: 28px;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  line-height: 22px;
}
.block__document .link {
  position: absolute;
  top: 10px;
  right: 0;
}
/*# sourceMappingURL=document.css.map */