.block__informer {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.b_informer--wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: #09234D;
}

.b_informer--overlay {
  display: block;
  width: 100%;
  padding: 20px;

  &.__top {
    position: relative;
    padding-bottom: 160px;
    z-index: 10;
  }

  &.__down {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
}

.b_informer--title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #FFF;
  line-height: 25px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}

.b_informer--text {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #FFF;
  line-height: 20px;
  font-size: 16px;
}

.b_informer--icon {
  position: absolute;
  bottom: 65px;
  left: 20px;
  display: inline-block;
}

.b_informer--img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 7;
}

.b_informer--layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;

  &.__opacity {
    background-color: #09234D;
    opacity: 0.5;
    z-index: 8;
  }
  &.__blend-mode {
    background: #09234D;
    mix-blend-mode: color;
    z-index: 9;
  }
}
