.block__informer {
  display: block;
  margin-bottom: 30px;
}
.b_informer--wrapper {
  display: block;
  width: 235px;
  margin: 0 auto;
}
.b_informer--img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.b_informer--overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #09234D;
  opacity: 0.5;
}
.b_informer--text {
  display: block;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
}
.b_informer--text B {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 10px;
}
.b_informer--ico {
  display: inline-block;
}
/*# sourceMappingURL=informer.css.map */