.block__preview {
  display: block;
  width: 100%;
  background: rgba(222, 228, 237, 0.51);
}
.b_preview--link {
  display: block;
  width: 100%;
  height: 155px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.b_preview--name {
  display: block;
  padding-top: 20px;
  padding-left: 25px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}
.b_preview--name SUB {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
/*# sourceMappingURL=preview.css.map */