@border-setup: 1px solid #f7f8fc;

.block__preview {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.b_preview--wrapper {
  background: rgba(222, 228, 237, 0.51);
  border-top: @border-setup;
  border-left: @border-setup;
}

.b_preview--link {
  display: block;
  width: 100%;
  height: 155px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  text-decoration: none;
  border-bottom: @border-setup;
  border-right: @border-setup;
  transition: all .35s;

  &.__large {
    height: 310px;
    background-size: cover;
    background-position: -170px 60%;
    &:hover {
      background-position-x: -130px;

    }
  }

  &:hover {
    background-color: #DEE4ED;
    background-position-x: 110%;

    .b_preview--name {
      padding-left: 40px;
    }
  }
}

.b_preview--name {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 25%;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 22px;
  transition: all .35s;

  SUB {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }
}

/** SmartPhone: Start **/
@media (max-width: 1126px)
{
  BODY .mod__grid.__a5b4
  {
    .m_grid--column
    {
      .b_preview--link
      {
        height: 135px;
      }
    }
  }

  BODY .mod__grid.__a5b4
  {
    .m_grid--column
    {
      .b_preview--link
      {
        &.__project {
          background-image: url("/img/services/progect-energo-system-small.png") !important;
        }

        &.__setups {
          background-image: url("/img/services/startsetup-work-setup-generator-small.png") !important;
        }
      }
    }
  }
}
/** SmartPhone: End **/

@media (max-width: 768px)
{
  .b_preview--name {
    padding-right: 20%;
  }
}

