.block__slider {
  position: relative;
  display: block;
  width: 100%;
  min-height: 120px;
  padding-bottom: 30px;
  margin-bottom: 50px;

  &.__corp{
    padding-bottom: 0;
    margin-bottom: 35px;

    .b_slider--layout {
      height: 70%;
    }

  }
}

.b_slider--wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 10px 30px 0 30px;

  &.__docs {
    padding-top: 0;

    .b_slider--list {
      padding-top: 20px;
    }
  }

  &.__aside {
    padding: 10px 0 0 0;

    .b_slider--list {
      padding-bottom: 10px;
    }

    .b_slider--overlay {
      top: 100%;
      bottom: auto;
      height: 60px;

      .b_slider--button.__left { left: 50px; z-index: 999 }
      .b_slider--button.__right { right: 50px; z-index: 999 }

      .b_slider--layout.__frames {
        top: -40px;
      }
    }

    .b_slider--list {
      width: 100%;

      .b_slider--item {
        width: 100%;
      }
    }
  }

}

.b_slider--list {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0;
  z-index: 7;
}

.b_slider--list {
  &[cost="2"] .b_slider--item { width: 48.5% }
  &[cost="3"] .b_slider--item { width: 31.5% }
  &[cost="4"] .b_slider--item { width: 23.5% }
  &[cost="5"] .b_slider--item { width: 19% }
  &[cost="6"] .b_slider--item { width: 16% }
}

/** Desktop: Start **/
@media (max-width: 1366px)
{
  .b_slider--list {
    overflow: hidden;

    &[cost="3"] /* стало 2 элемента */
    {
      .b_slider--item {
        width: 48.5%;

        &:last-child{ display: none }
      }
    }

    &[cost="4"] /* стало 3 элемента */
    {
      .b_slider--item {
        width: 31.5%;

        &:last-child{ display: none }
      }
    }

    &[cost="6"] /* стало 5 элемента */
    {
      .b_slider--item {
        width: 19.5%;

        &:last-child{ display: none }
      }
    }
  }
}
/** Desktop: End **/


/** Tablet: Start **/
@media (max-width: 860px)
{
  .b_slider--list {
    overflow: hidden;


    &[cost="4"] /* стало 2 элемента */
    {
      .b_slider--item {
        width: 48%;

        &:nth-child(3){ display: none }
      }
    }

    &[cost="6"] /* стало 3 элемента */
    {
      .b_slider--item {
        width: 31.5%;

        &:nth-child(4){ display: none }
        &:nth-child(5){ display: none }
      }
    }
  }

}
/** Tablet: End **/

@media (max-width: 640px) {

  .b_slider--list
  {

    &[cost="3"] /* стало 1 элемента */
    {
      .b_slider--item {
        width: 100%;

        &:nth-child(2){ display: none }
      }
    }

    &[cost="2"] /* стало 1 элемента */
    {
      .b_slider--item {
        width: 100%;

        &:nth-child(2){ display: none }
      }
    }

  }

}


/** SmartPhone: Start **/
@media (max-width: 576px)
{
  .b_slider--list {
    overflow: hidden;


    &[cost="4"] /* стало 1 элемента */
    {
      .b_slider--item {
        width: 90%;

        &:nth-child(2){ display: none }
      }
    }

    &[cost="6"] /* стало 2 элемента */
    {
      .b_slider--item {
        width: 48%;

        &:nth-child(3){ display: none }
      }
    }
  }
}
/** SmartPhone: End **/

.b_slider--item {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}

.b_slider--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.b_slider--layout {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  &.__frames {
    position: relative;
    top: 25px;
    height: auto;
    transition: background .35s;

    &:hover {

      .b_slider--dot {
        background: #C4C4C4;
      }

      .b_slider--frame:hover {
        .b_slider--dot { background: #2F4E80 }
      }
    }
  }
}

.b_slider--button {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 20px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s;

  &.__left {
    left: 0;
    background-position: left center;
    background-image: url("/img/svg/arrows/arrow-blue-large-left.svg");

    &:hover {
      left: -2px;
      background-image: url("/img/svg/arrows/arrow-blue-large-left-hover.svg");
    }
  }

  &.__right {
    right: 0;
    background-position: right center;
    background-image: url("/img/svg/arrows/arrow-blue-large-right.svg");

    &:hover {
    right: -2px;
    background-image: url("/img/svg/arrows/arrow-blue-large-right-hover.svg");
    }
  }
}

.b_slider--controller {
  display: block;
  text-align: center;
  font-size: 0;
}

.b_slider--frame {
  display: inline-block;
  height: 21px;
  width: 21px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  font-size: 0;

  &.__active {
    .b_slider--dot { background: #265197 }
  }

  &:hover {
    .b_slider--dot { background: #2F4E80 }
  }
}

.b_slider--dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #C4C4C4;
  border-radius: 50%;
  transition: background .35s;
}