.b_spoiler--content {
  display: none;
  width: 100%;
  margin-top: 25px;
}

.b_spoiler--ui {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/svg/arrows/dropdown-arrow-top.svg);
}
.b_spoiler--header {
  position: relative;
  display: block;
  width: 100%;
}

.b_spoiler--item {
  display: block;
  width:  100%;
  padding: 25px 0;
  border-bottom: 1px solid #93A8CB;

  &.__active {

    .b_spoiler--content {
      display: block;
      border-top: 1px solid #DBDEE3;
    }

    .b_spoiler--ui {
      background-image: url(/img/svg/arrows/dropdown-arrow-bottom.svg);
    }
  }
}

.b_spoiler--wrapper {
  display: block;
  margin-bottom: 60px;
}

.block__spoiler {
  display: block;
  width: 100%;
}
