.table {
  width: 100%;
  margin: 30px 0;
  background-color: #EDF0F6;
  border-collapse: collapse;

  THEAD
  {
    TH {
      background-color: #2F4E80;
      text-align: center;
      line-height: 25px;

      &.light {
        background-color: #3D5C8D;
      }

      &.head {
        line-height: 30px;
        font-size: 14px;
        background-color: #213C68;
      }
    }

    * {
      color: #fff;
      line-height: 20px;
      font-size: 12px;
    }

    TR.padding
    {
      TH {
        padding-top: 5px;
        line-height: 15px;

        &.main{
          padding: 10px 0 0 15px;
          text-align: left;
        }
      }

      &:last-child
      {
        TH { padding: 0 0 5px 0 }
      }
    }
  }

  TBODY
  {

    TR
    {
      TD {
        padding: 10px;
        color: #1B3866;
        line-height: 15px;
        font-size: 13px;
        background-color: #EDF0F6;
        text-align: left;
        vertical-align: top;

        &:first-child{
          padding: 10px 15px;
          color: #000;
          line-height: 15px;
          font-size: 13px;
        }

        &.notice {
          color: #000;
          text-align: center;
          vertical-align: middle;
        }
      }

      &:nth-child(odd)
      {
        TD
        {
          &:first-child {
            background-color: #DFE3EA;
          }

          background-color: #DFE3EA;

          &.light {
            background-color: #E5E8EE;
          }
        }
      }

      &:nth-child(even)
      {
        TD
        {
          &:first-child {
            background-color: #E7EBF3;
          }

          background-color: #E7EBF3;

          &.light {
            background-color: #EDF0F6;
          }

        }
      }
    }

  }

}