.table {
  background-color: #EDF0F6;
}
.table THEAD TD {
  background-color: #2F4E80;
}
.table THEAD TD.light {
  background-color: #3D5C8D;
}
.table THEAD TD .main {
  padding: 10px 15px;
}
.table THEAD * {
  color: #fff;
  line-height: 20px;
  font-size: 12px;
}
.table THEAD .c_table--head {
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: #213C68;
}
.table TBODY TR TD {
  padding: 10px;
  color: #1B3866;
  line-height: 15px;
  font-size: 13px;
  background-color: #EDF0F6;
  text-align: left;
  vertical-align: top;
}
.table TBODY TR TD:first-child {
  padding: 10px 15px;
  color: #000;
  line-height: 15px;
  font-size: 13px;
}
.table TBODY TR:nth-child(ogg) TD {
  background-color: #DFE3EA;
}
.table TBODY TR:nth-child(ogg) TD:first-child {
  background-color: #DFE3EA;
}
.table TBODY TR:nth-child(ogg) TD.light {
  background-color: #E5E8;
}
.table TBODY TR:nth-child(even) TD {
  background-color: #E7EBF3;
}
.table TBODY TR:nth-child(even) TD:first-child {
  background-color: #E7EBF3;
}
.table TBODY TR:nth-child(even) TD.light {
  background-color: #EDF0F6;
}
/*# sourceMappingURL=table.css.map */