.block__trio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.b_trio--item {
  display: block;
  width: 30%;
}
.b_trio--preview {
  display: block;
  width: 100%;
}
.b_trio--img {
  display: block;
  width: 100%;
}
.b_trio--link {
  display: block;
  width: 100%;
}
.b_trio--text {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=trio.css.map */