

/** Desktop **/
@media (min-width: 1126px) // large
{
  BODY .mod__hidden-md,
  BODY .mod__hidden-sm,
  BODY .mod__visible-lg {
    display: block;
    &.__inline{
      display: inline-block;
    }
  }

  BODY .mod__visible-md,
  BODY .mod__visible-sm,
  BODY .mod__hidden-lg {
    display: none;
  }

}

/** Tablet **/
@media (min-width: 768px) and (max-width: 1126px) // middle
{
  BODY .mod__hidden-lg,
  BODY .mod__hidden-sm,
  BODY .mod__visible-md {
    display: block;
    &.__inline{
      display: inline-block;
    }
  }

  BODY .mod__visible-lg,
  BODY .mod__visible-sm,
  BODY .mod__hidden-md {
    display: none;
  }
}

/** SmartPhones **/
@media (max-width: 768px) // small
{
  BODY .mod__hidden-lg,
  BODY .mod__hidden-md,
  BODY .mod__visible-sm {
    display: block;
    &.__inline{
      display: inline-block;
    }
  }

  BODY .mod__visible-lg,
  BODY .mod__visible-md,
  BODY .mod__hidden-sm { display: none }
}