.block__articles {
  display: block;
  width: 100%;
}
.b_articles--wrapper {
  display: block;
  width: 100%;
  background-color: #FFF;
}
.b_articles--item {
  display: block;
  width: 100%;
  min-height: 125px;
  padding: 10px;
  border-bottom: 1px solid rgba(237, 240, 246, 0.5);
}
.b_articles--img {
  float: left;
  width: 140px;
  height: auto;
  max-height: 125px;
  margin-right: 10px;
}
.b_articles--link {
  display: block;
  width: 100%;
  margin: 5px 0;
  color: #2F4E80;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.b_articles--text {
  display: block;
  width: 100%;
  padding-left: 150px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
}
BODY .block__articles A.link {
  position: absolute;
  bottom: 20px;
}
