.block__benefit {
  display: block;
  width: 100%;
}
.block__benefit .block__table {
  margin-top: 60px;
}
.block__benefit .b_contacts--item {
  width: 100%;
  margin: 10px 0;
}
.block__benefit .b_contacts--box {
  padding-left: 30px;
}
.block__benefit .b_contacts--box .b_contacts--link {
  margin-bottom: 5px;
  text-align: left;
  color: #265197;
  line-height: 20px;
  font-size: 13px;
}
.b_benefit--wrapper {
  display: block;
  width: 100%;
}
.b_benefit--title {
  display: block;
  width: 100%;
  margin: 20px 0;
  color: #000;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_benefit--list {
  display: block;
  width: 100%;
}
.b_benefit--item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 1px 20px;
  background-color: #EEF1F6;
  border-bottom: 5px solid #F5DA5A;
}
.b_benefit--notice {
  display: block;
  margin: 30px 0;
  color: #000;
  line-height: 30px;
  font-size: 22px;
}
.b_benefit--notice > B {
  font-weight: 500;
  font-family: "Roboto-Bold", sans-serif;
}
