.block__brands {
  display: block;
  width: 100%;
}
.b_brands--wrapper {
  display: block;
  width: 100%;
}
.b_brands--head {
  display: block;
  width: 100%;
  border-bottom: 1px solid #2F4E80;
}
.b_brands--label {
  display: inline-block;
  width: auto;
  min-width: 170px;
  padding: 10px;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #2F4E80;
}
.b_brands--body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  padding: 20px 15px 0 15px;
  background-color: #EDF0F6;
}
.b_brands--link {
  display: flex;
  justify-content: center;
  width: 18%;
  height: 55px;
  padding: 5px;
  margin: 0 1% 20px 1%;
  border: 1px solid #CAD0DC;
}
.b_brands--link.__active,
.b_brands--link:hover {
  background-color: #CAD0DC;
}
.b_brands--img {
  display: block;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_brands--link {
    width: 23%;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_brands--link {
    width: 48%;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
@media (max-width: 360px) {
  .b_brands--link {
    width: 98%;
  }
}
/** SmartPhone: End **/
