.block__catalog {
  display: block;
  width: 100%;
}
.b_catalog--wrapper {
  display: block;
  width: 100%;
}
.b_catalog--item {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #EDF0F6;
}
.b_catalog--item.__open {
  background-color: #fff;
}
.b_catalog--head {
  display: inline-block;
  width: 20%;
  margin-bottom: 10px;
  padding: 0;
  background-color: #fff;
}
.b_catalog--img {
  width: 100%;
}
.b_catalog--body {
  display: inline-block;
  width: 77%;
  margin-left: 3%;
  margin-bottom: 10px;
}
.b_catalog--footer {
  display: inline-block;
  width: 100%;
}
.b_catalog--title {
  display: block;
  width: 100%;
  margin: 5px 0;
  color: #265197;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
}
.b_catalog--text {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  line-height: 20px;
  font-size: 14px;
}
.b_catalog--layout {
  display: inline-block;
  width: 25%;
  padding: 20px;
}
.b_catalog--name {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #2F4E80;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_catalog--link {
  display: block;
  width: 100%;
  color: #2F4E80;
  line-height: 25px;
  font-size: 13px;
  text-decoration: none;
}
.b_catalog--link:hover {
  text-decoration: underline;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  BODY .b_catalog--item .b_tabs--layout .b_tabs--content.__active {
    background-color: transparent;
  }
  BODY .b_catalog--item.__open {
    background-color: #EDF0F6;
  }
  .b_catalog--head,
  .b_catalog--body,
  .b_catalog--footer {
    display: block;
    width: 100%;
  }
  .b_catalog--head {
    padding: 10px;
    max-height: 150px;
  }
  .b_catalog--body {
    margin-left: 0;
  }
  .b_catalog--title {
    margin: 10px 0;
  }
  .b_catalog--img {
    display: block;
    width: auto;
    height: 130px;
    margin: 0 auto;
  }
  .b_catalog--layout {
    display: block;
    width: 100%;
  }
  .b_catalog--link {
    display: inline-block;
    width: 33.33%;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_catalog--link {
    display: inline-block;
    width: 50%;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
@media (max-width: 360px) {
  .b_catalog--link {
    display: inline-block;
    width: 100%;
  }
}
/** SmartPhone: End **/
