.block__category {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}
.b_category--wrapper {
  display: block;
  width: 100%;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.b_category--item {
  display: inline-block;
  width: 25%;
  height: 135px;
  background: #8491A6;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.b_category--item.__middle {
  width: 50%;
}
.b_category--item.__big {
  width: 75%;
}
.b_category--item.__large {
  width: 100%;
}
.b_category--item.__glow {
  background: #e17871;
}
.b_category--link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 35px 0 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.b_category--title {
  display: inline-block;
  color: #FFF;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.b_category--title B {
  display: block;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_category--title:hover {
  text-decoration: underline;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_category--item {
    width: 25%;
  }
  .b_category--item.__middle {
    width: 50%;
  }
  .b_category--item.__big {
    width: 50%;
  }
  .b_category--item.__large {
    width: 50%;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_category--item {
    width: 50%;
  }
  .b_category--item.__middle {
    width: 100%;
  }
  .b_category--item.__big {
    width: 100%;
  }
  .b_category--item.__large {
    width: 100%;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
/** SmartPhone: End **/
