.block__cert {
  display: block;
  width: 100%;
}
.b_cert--wrapper {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.b_cert--overlay {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #E5E8EE;
}
.b_cert--layout {
  display: block;
  width: 100%;
}
.b_cert--list {
  display: block;
  width: 100%;
  padding-bottom: 25px;
  overflow: hidden;
}
.b_cert--item {
  display: block;
  width: 100%;
}
.b_cert--item:last-child .b_cert--body {
  border-bottom: none;
}
.b_cert--head {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.b_cert--body {
  display: block;
  width: 100%;
  padding: 20px 0 0 0;
  border-bottom: 1px solid #93A8CB;
}
.b_cert--body .block__document {
  margin-bottom: 0;
}
.b_cert--body .block__document .b_document--item {
  width: 28%;
}
.b_cert--layout {
  display: inline-block;
}
.b_cert--layout.__left {
  width: 40%;
}
.b_cert--layout.__right {
  width: 60%;
  padding: 5px 0 10px 10px;
}
.b_cert--img {
  display: inline-block;
  width: 80%;
  height: auto;
  border: none;
}
.b_cert--text {
  display: block;
  color: #2F4E80;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
}
.b_cert--controller {
  position: absolute;
  bottom: 25px;
  left: 43%;
  display: inline-block;
  width: auto;
  padding: 0 15px;
}
.b_cert--position,
.b_cert--position B {
  display: inline-block;
  color: #2F4E80;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.b_cert--position B,
.b_cert--position B B {
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_cert--arrows {
  position: relative;
  width: 100%;
}
.b_cert--button {
  position: absolute;
  top: -25px;
  display: block;
  width: 18px;
  height: 24px;
  background-size: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.b_cert--button.__left {
  left: -20px;
  background-image: url("/img/svg/arrows/arrow-blue-big-left-hover.svg");
}
.b_cert--button.__right {
  right: -20px;
  background-image: url("/img/svg/arrows/arrow-blue-big-right-hover.svg");
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_cert--text {
    font-size: 13px;
    font-weight: 500;
  }
}
/** Desktop: End **/
@media (max-width: 860px) {
  .b_document--wrapper.__trio .b_document--item {
    width: 46%;
    margin: 0 0 60px 0;
  }
}
/** Tablet: Start **/
@media (max-width: 640px) {
  .b_document--wrapper.__trio .b_document--item {
    width: 100%;
    margin-left: 20px;
  }
}
/** Tablet: End **/
