.block__choose {
  display: block;
}
.b_choose--wrapper {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #EDF0F6;
}
.b_choose--wrapper.__active .b_choose--ui {
  background-image: url("/img/svg/arrows/dropdown-arrow-bottom.svg");
}
.b_choose--title {
  position: relative;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 24px;
}
.b_choose--ui {
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/arrows/dropdown-arrow-top.svg");
}
.b_choose--list {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 0;
}
.b_choose--item {
  display: inline-block;
  width: 20%;
  padding: 5px 0;
  font-size: 0;
  text-align: center;
  border-right: 2px solid #A9AEC0;
}
.b_choose--item:last-child {
  border: none;
}
.b_choose--link {
  display: inline-block;
  width: 33%;
  font-size: 14px;
  line-height: 24px;
  color: #265197;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  white-space: nowrap;
}
.b_choose--link B {
  font-weight: bold;
}
.b_choose--link:hover {
  color: #385A91;
  text-decoration: underline;
}
.b_choose--layer {
  display: block;
  width: 100%;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_choose--list {
    display: none;
  }
  .b_choose--wrapper.__active .b_choose--list {
    display: block;
    padding: 5px 0;
  }
  .b_choose--layer {
    display: inline-block;
    width: 50%;
  }
  .b_choose--layer .b_choose--link {
    display: block;
    width: 100%;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_choose--item {
    width: 50%;
    padding: 0 0 30px 0;
    border: none;
    font-size: 0;
  }
  .b_choose--link {
    width: 50%;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
/** SmartPhone: End **/
