.block__example {
  display: block;
  width: 100%;
}
.block__example .button {
  margin: 5px 0;
  padding: 5px;
  line-height: 20px;
  font-size: 13px;
}
.block__example .block__hint {
  height: 0;
  width: 100%;
}
.block__example .block__hint .b_hint--button {
  top: -20px;
  right: -20px;
  left: auto;
}
.block__example .block__hint .b_hint--window {
  top: 100%;
  left: 80%;
}
.block__example .b_content--line {
  background: #DBDEE3;
}
.b_example--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
}
.b_example--head {
  display: block;
  width: 20%;
}
.b_example--body {
  display: block;
  width: 75%;
}
.b_example--body .b_example--text:last-child {
  margin-bottom: 0;
}
.b_example--title {
  display: block;
  width: 100%;
  margin: 5px 0 20px 0;
  color: #2F4E80;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
}
.b_example--title:hover {
  text-decoration: underline;
}
.b_example--logo {
  position: relative;
  top: -8px;
  display: inline-block;
  float: left;
  height: 40px;
  width: auto;
  margin-right: 15px;
}
.b_example--text {
  display: block;
  width: 100%;
  color: #000;
  line-height: 20px;
  font-size: 14px;
}
.b_example--text > B {
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_example--product {
  display: block;
  width: 100%;
  margin: 20px 0;
  color: #2F4E80;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_example--data {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.b_example--preview {
  display: block;
  max-width: 100%;
}
.b_example--pic {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.b_example--param {
  position: relative;
  display: inline-block;
  margin: 5px 0 5px 25px;
  color: #000;
  line-height: 16px;
  font-size: 12px;
}
.b_example--param:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20px;
}
.b_example--param.__power {
  color: #2F4E80;
  border-bottom: 1px solid rgba(38, 81, 151, 0.5);
}
.b_example--param.__power:before {
  background-image: url("/img/svg/power-blue.svg");
}
.b_example--param.__category:before {
  background-image: url("/img/svg/projects/category/projects-category-olympic-blue.svg");
}
/** Tablet: Start **/
@media (max-width: 768px) {
  BODY .b_portfolio--head {
    display: none;
  }
  .block__example .button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .block__example .block__hint {
    display: none;
  }
  .b_example--wrapper {
    display: block;
  }
  .b_example--body {
    width: 100%;
    padding-top: 150px;
  }
  .b_example--preview {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .b_example--pic {
    max-height: 130px;
  }
  .b_example--head {
    width: 100%;
  }
  .b_example--title {
    line-height: 20px;
    font-size: 16px;
  }
  .b_example--data {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .b_example--param {
    margin-right: 30px;
  }
}
/** Tablet: End **/
