.block__footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: #2F4E80;
}
.b_footer--wrapper {
  position: relative;
  display: block;
  width: 1366px;
  font-size: 0;
  margin: 0 auto;
  padding-top: 10px;
}
.b_footer--layout {
  display: inline-block;
  font-size: 13px;
}
.b_footer--layout.__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  margin-right: 30px;
  text-align: center;
}
.b_footer--layout.__right {
  width: 100%;
  padding-left: 300px;
  padding-right: 15px;
}
.b_footer--overlay {
  display: block;
  width: 100%;
}
.b_footer--overlay.__top {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.b_footer--overlay.__top .button {
  width: 140px;
  height: 40px;
  margin: 15px 0;
}
.b_footer--overlay.__central {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}
.b_footer--overlay.__central .b_footer--link {
  margin-right: 5px;
}
.b_footer--overlay.__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.b_footer--overlay.__ofella {
  display: block;
  width: 100%;
  padding-top: 5px;
}
.b_footer--overlay.__menu {
  display: flex;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.51);
  margin-bottom: 25px;
}
.b_footer--overlay.__company {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.b_footer--box {
  display: block;
  width: 100%;
}
.b_footer--box.__text {
  text-align: left;
}
.b_footer--box.__cards {
  margin-bottom: 10px;
}
.b_footer--box.__info {
  display: inline-block;
  width: 35%;
}
.b_footer--box.__domains {
  display: inline-block;
  width: 65%;
}
.b_footer--box.__domains .b_footer--link {
  width: 25%;
}
.b_footer--text,
.b_footer--link {
  color: #fff;
  line-height: 25px;
  font-size: 13px;
}
.b_footer--text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.b_footer--link {
  display: inline-block;
  width: auto;
  text-decoration: none;
}
.b_footer--link:hover {
  text-decoration: underline;
}
.__menu .b_footer--link {
  font-size: 15px;
  padding-right: 20px;
}
.__phones .b_footer--link {
  font-size: 16px;
}
.b_footer--img {
  display: block;
  width: 100%;
}
@media (max-width: 1382px) {
  BODY .b_footer--wrapper {
    width: 100%;
  }
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  BODY .b_footer--wrapper {
    display: block;
    width: 100%;
    padding: 0 40px;
  }
  BODY .b_footer--wrapper .b_footer--layout {
    display: flex;
    width: 100%;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left {
    position: relative;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .button {
    width: 100%;
  }
  BODY .b_footer--wrapper .b_footer--layout.__right {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    justify-items: flex-start;
    justify-self: flex-start;
    flex-wrap: wrap;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__top {
    width: 30%;
    padding-top: 0;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__top .button {
    margin: 0;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__central {
    width: 65%;
    padding-top: 0;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__bottom {
    width: 50%;
    flex-direction: row-reverse;
    text-align: left;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__bottom .__cards {
    width: 60%;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__bottom .__site-map {
    width: 40%;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__bottom .__site-map .b_footer--link {
    line-height: 20px;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__ofella {
    width: 50%;
    display: inline-block;
    padding-top: 0;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--overlay.__ofella .b_footer--link {
    line-height: 20px;
  }
  .b_footer--overlay.__top .button {
    width: 140px;
  }
  .b_footer--overlay.__ofella {
    text-align: left;
  }
  .b_footer--overlay.__menu {
    padding: 15px 0;
    margin: 20px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.51);
  }
  .b_footer--overlay.__menu .mod__flex {
    justify-content: flex-start;
  }
  .b_footer--overlay.__company {
    flex-wrap: wrap-reverse;
  }
  .b_footer--box.__site-map A {
    text-align: center;
  }
  .b_footer--box.__info {
    display: block;
    width: 100%;
    padding-top: 15px;
  }
  .b_footer--box.__info .b_footer--box {
    display: inline-block;
  }
  .b_footer--box.__info .b_footer--box .b_footer--text {
    margin: 0;
  }
  .b_footer--box.__info .b_footer--box.__text {
    width: 30%;
  }
  .b_footer--box.__info .b_footer--box.__controller {
    width: 60%;
    padding-top: 5px;
  }
  .b_footer--box.__domains {
    display: block;
    width: 100%;
  }
  .b_footer--box.__domains .b_footer--link {
    font-size: 14px;
    width: 30%;
  }
  .b_footer--box.__domains .b_footer--link.__md {
    display: none;
  }
}
/** Desktop: End **/
/** Desktop: Start **/
@media (max-width: 768px) {
  BODY .b_footer--wrapper {
    width: 100%;
    padding: 10px 15px 0 15px;
  }
  BODY .b_footer--wrapper .b_footer--layout .b_footer--text,
  BODY .b_footer--wrapper .b_footer--layout .b_footer--link {
    font-size: 12px;
    line-height: 15px !important;
  }
  BODY .b_footer--wrapper .b_footer--overlay.__menu {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  BODY .b_footer--wrapper .b_footer--overlay.__menu .b_footer--link {
    margin-bottom: 5px;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left {
    flex-wrap: wrap;
    flex-direction: row;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .__top {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .__central {
    display: block;
    width: 100%;
    font-size: 0;
    text-align: left;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .__central .__bottom {
    display: inline-block;
    width: 40%;
    flex-direction: row;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .__central .__bottom .__cards,
  BODY .b_footer--wrapper .b_footer--layout.__left .__central .__bottom .__site-map {
    display: block;
    width: 100%;
  }
  BODY .b_footer--wrapper .b_footer--layout.__left .__central .__ofella {
    display: inline-block;
    width: 60%;
  }
  BODY .b_footer--wrapper .b_footer--layout.__right .b_footer--link {
    line-height: 20px;
    font-size: 14px;
  }
  .b_footer--box.__info {
    font-size: 0;
  }
  .b_footer--box.__info .b_footer--box {
    width: 50% !important;
  }
  .b_footer--box.__domains {
    padding-top: 10px;
  }
  .b_footer--box.__domains .b_footer--link {
    width: 50%;
    line-height: 24px;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .b_footer--box.__domains .b_footer--link.__sm {
    display: none;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 576px) {
  .b_footer--wrapper {
    padding: 0 15px;
  }
}
/** Tablet: End **/
