.block__header {
  /*position: relative;*/
  display: block;
}
.b_header--overlay {
  display: block;
  margin-bottom: 30px;
  font-size: 0;
}
.b_header--overlay.__footer {
  position: relative;
  padding-bottom: 0;
}
.b_header--layout {
  display: inline-block;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_header--overlay.__footer {
    position: inherit;
  }
  .b_header--overlay.__footer {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}
/** Desktop: End **/
