.block__list {
  display: block;
  width: 100%;
}
.b_list--wrapper {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 0;
}
.b_list--wrapper.__block .b_list--item {
  display: block;
  width: 100%;
}
.b_list--item {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 0 35px 10px 20px;
  font-size: 14px;
  line-height: 20px;
}
.b_list--item:after {
  position: absolute;
  top: 10px;
  left: 0;
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #2F4E80;
}
.b_list--item.__head {
  padding: 0 0 10px 0;
}
.b_list--item.__head:after {
  display: none;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_list--item {
    line-height: 15px;
  }
}
/** Tablet: End **/
