.block__nav {
  display: inline-block;
  width: 75%;
}
.b_nav--wrapper {
  display: block;
  font-size: 0;
  min-height: 35px;
  white-space: nowrap;
}
.b_nav--wrapper:hover .b_nav--item {
  background-color: transparent;
  border-bottom-color: transparent;
}
.b_nav--wrapper:hover .b_nav--item:hover {
  background-color: #EBEDF2;
  border-bottom-color: #F5DA5A;
}
.b_nav--item {
  display: inline-block;
  background: transparent;
  border-bottom: 3px solid transparent;
  transition: background-color, border-bottom-color 0.75s;
}
.b_nav--item.__active {
  background-color: #EBEDF2;
  border-bottom-color: #F5DA5A;
}
.b_nav--item.__active .b_nav--link {
  padding: 0 10px;
}
.b_nav--item:hover {
  background-color: #EBEDF2;
}
.b_nav--link {
  display: block;
  padding: 0 10px;
  color: #070707;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
.b_nav--item:first-child .b_nav--link {
  padding-left: 0;
}
.b_nav--item.__main {
  background-color: #213C68;
}
.b_nav--item.__main .b_nav--link {
  color: #FFF;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
}
.b_nav--wrapper .b_nav--item.__dropdown .b_nav--link:after {
  content: ' ';
  display: inline-block;
  height: 13px;
  width: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/arrows/dropdown-arrow-top.svg");
}
.b_nav--wrapper .b_nav--item.__dropdown.__open {
  z-index: 150;
  background-color: #EBEDF2;
  border-bottom-color: transparent;
  border-bottom-width: 0;
}
.b_nav--wrapper .b_nav--item.__dropdown.__open:first-child:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  display: inline-block;
  width: 10px;
  z-index: 150;
  background-color: #EBEDF2;
}
.b_nav--wrapper .b_nav--item.__dropdown.__open:first-child .b_navigator--wrapper:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  display: inline-block;
  width: 10px;
  background-color: #EBEDF2;
}
.b_nav--wrapper .b_nav--item.__dropdown.__open .b_nav--link {
  position: relative;
  top: 0;
  height: 35px;
  color: #265197;
  z-index: 150;
  background-color: #EBEDF2;
  border-bottom: none;
}
.b_nav--wrapper .b_nav--item.__dropdown.__open .b_nav--link:first-child {
  z-index: 150;
}
.b_nav--wrapper .b_nav--item.__dropdown.__open .b_navigator--wrapper {
  height: auto;
  display: block;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .block__nav {
    display: block;
    width: 100%;
    padding-top: 30px;
  }
}
