.block__pagination {
  display: block;
  width: 100%;
}
.b_pagination--wrapper {
  display: block;
  width: 100%;
  font-size: 0;
}
.b_pagination--overlay {
  display: block;
  width: 100%;
  text-align: right;
}
.b_pagination--overlay.__left {
  text-align: left;
}
.b_pagination--layout {
  display: block;
  width: 100%;
  padding: 5px 0;
}
.b_pagination--label {
  display: inline-block;
  padding-right: 10px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
}
.b_pagination--link {
  display: inline-block;
  margin: 0 5px;
  color: #1c3866;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.b_pagination--link.__active {
  min-width: 20px;
  margin: 0;
  padding: 0 5px;
  color: #fff;
  background: #2F4E80;
}
.b_pagination--link.__active:hover {
  text-decoration: none;
  cursor: default;
}
.b_pagination--link:hover {
  text-decoration: underline;
}
.b_pagination--separator {
  display: inline-block;
  padding: 0 5px;
  color: #1c3866;
  line-height: 20px;
  font-size: 13px;
  width: 20px;
}
.b_pagination--button {
  position: relative;
  display: inline-block;
  width: 115px;
  margin-left: 10px;
  padding: 5px 10px;
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  background-color: #E5E8EE;
}
.b_pagination--button.__left:before,
.b_pagination--button.__right:after {
  content: ' ';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .35s;
}
.b_pagination--button.__left {
  text-align: right;
}
.b_pagination--button.__left:before {
  left: 5px;
  background-image: url("/img/svg/arrows/medium-arrow-blue-left.svg");
}
.b_pagination--button.__left:before:hover:before {
  left: 1px;
}
.b_pagination--button.__right {
  text-align: left;
}
.b_pagination--button.__right:after {
  right: 5px;
  background-image: url("/img/svg/arrows/medium-arrow-blue-right.svg");
}
.b_pagination--button.__right:hover:after {
  right: 1px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_pagination--wrapper {
    text-align: right;
  }
  .b_pagination--overlay {
    display: inline-block;
    width: auto;
  }
  .b_pagination--link {
    display: none;
  }
  .b_pagination--layout .b_pagination--link.__active {
    display: inline-block;
  }
  .b_pagination--layout .b_pagination--link:last-child {
    display: inline-block;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_pagination--overlay.__line {
    float: left;
  }
}
/** Tablet: End **/
