.block__pic {
  display: block;
  width: 100%;
}
.b_pic--wrapper {
  display: flex;
  width: 100%;
  margin: 30px 0;
  font-size: 0;
}
.b_pic--preview {
  display: inline-block;
  width: 70%;
  background-color: #2F4E80;
}
.b_pic--img {
  display: inline-block;
  width: 100%;
  max-height: 370px;
}
.b_pic--description {
  display: inline-block;
  width: 30%;
  padding: 15px;
  background-color: #2F4E80;
}
.b_pic--text {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_pic--img {
    max-height: 320px;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_pic--wrapper {
    display: block;
  }
  .b_pic--preview {
    width: 100%;
  }
  .b_pic--description {
    display: none;
  }
  .b_pic--img {
    display: block;
    margin: 0 auto;
    height: 230px;
    width: auto;
  }
}
/** Tablet: End **/
