.block__portfolio {
  display: block;
  width: 100%;
}
.b_portfolio--wrapper {
  display: block;
  width: 100%;
}
.b_portfolio--head {
  display: block;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.b_portfolio--head > IMG {
  width: 100%;
  height: auto;
}
.b_portfolio--body {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #DBDEE3;
  border-bottom: 1px solid #DBDEE3;
}
.b_portfolio--body.__blue {
  margin-bottom: 30px;
  border-top: 1px solid #93A8CB;
  border-bottom: 1px solid #93A8CB;
}
.b_portfolio--header {
  display: block;
  margin-bottom: 30px;
  color: #000;
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_portfolio--body {
    border: none;
    padding: 0;
  }
}
/** Tablet: End **/
