.block__price {
  display: block;
  width: 100%;
}
.b_price--wrapper {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 0;
}
.b_price--wrapper .button {
  width: 145px;
  line-height: 20px;
  font-size: 20px;
}
.b_price--wrapper.__small {
  margin-bottom: 0;
}
.b_price--wrapper.__small .b_price--text {
  line-height: 30px;
  font-size: 16px;
}
.b_price--wrapper.__small .b_price--text SUB {
  line-height: 30px;
  font-size: 16px;
}
.b_price--wrapper.__small .button {
  width: 95px;
  padding: 5px 0;
  line-height: 20px;
  font-size: 16px;
}
.b_price--text {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  padding-left: 5px;
  color: #000;
  line-height: 40px;
  font-size: 30px;
  font-weight: 500;
}
.b_price--text > SUB {
  vertical-align: bottom;
  color: #000;
  line-height: 35px;
  font-size: 20px;
  font-weight: 500;
}
.b_price--overlay {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 10px 30px;
}
.b_price--img {
  display: inline-block;
  width: 45px;
  height: 20px;
  margin: 0 5px;
  border: none;
}
.b_price--layout {
  display: block;
  width: 100%;
}
.b_price--layout.__links {
  display: inline-block;
  width: auto;
  padding-top: 10px;
}
.b_price--sale {
  position: relative;
  display: inline-block;
  width: auto;
  padding-left: 10px;
  color: #B91818;
  line-height: 20px;
  font-size: 14px;
}
.b_price--sale:before {
  content: ' ';
  display: block;
  width: 95%;
  position: absolute;
  top: 45%;
  height: 1px;
  border-bottom: 1px solid #B91818;
}
.b_price--description {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  color: #000;
  line-height: 20px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #F3EAEB;
}
.b_price--description:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -8px;
  left: 45px;
  height: 15px;
  width: 15px;
  background-color: #F3EAEB;
  transform: rotate(45deg);
}
.b_price--discount {
  margin-top: 15px;
}
.b_price--discount .button {
  width: 255px;
  margin-right: 30px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_price--overlay {
    padding: 0 15px;
  }
  .b_price--img {
    position: relative;
    top: 0;
    display: block;
  }
  .b_price--discount .button {
    width: 100%;
    margin-right: 0;
  }
  .b_price--layout.__links {
    display: none;
  }
  .b_price--layout.__tools {
    display: block;
    margin: 15px 0;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_price--text {
    width: 199px;
    margin-right: 0;
    padding-left: 0;
    white-space: nowrap;
  }
  .b_price--wrapper {
    position: relative;
  }
  .b_price--wrapper A.button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 145px;
  }
  .b_price--wrapper.__print {
    /* модфификация сблоков */
  }
  .b_price--overlay {
    position: absolute;
    display: block;
    width: 145px;
    right: 0;
    padding: 10px 0 0 0;
    text-align: center;
  }
  .b_price--overlay .b_price--img {
    display: inline-block;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
@media (max-width: 576px) {
  .b_price--wrapper A.button {
    width: 125px;
  }
  .b_price--overlay {
    width: 125px;
  }
}
/** SmartPhone: End **/
