.block__showcase .block__slider.__active .b_slider--wrapper {
  padding-left: 0;
  padding-right: 0;
}
.block__showcase .block__slider.__active .b_slider--list {
  align-items: end;
}
.block__showcase .block__slider.__active .b_slider--list .b_slider--item {
  margin-bottom: 20px;
}
.block__showcase A.link.__cross.__dotted {
  width: auto;
  white-space: nowrap;
}
.block__showcase A.link.__cross.__dotted:after {
  width: 15px;
  height: 15px;
}
body .block__showcase .b_showcase--items.__glow-head .b_product--head,
body .block__showcase .b_showcase--items.__glow-param-1 .b_params--item:nth-child(1),
body .block__showcase .b_showcase--items.__glow-param-2 .b_params--item:nth-child(2),
body .block__showcase .b_showcase--items.__glow-param-3 .b_params--item:nth-child(3),
body .block__showcase .b_showcase--items.__glow-param-4 .b_params--item:nth-child(4),
body .block__showcase .b_showcase--items.__glow-param-5 .b_params--item:nth-child(5) {
  background-color: #E1E5EC;
  border-right: 1px solid #EDF0F6 !important;
}
body .block__showcase .b_showcase--items.__glow-footer .b_product--footer {
  background-color: #E1E5EC;
}
.block__slider .block__product {
  display: block;
  width: 100%;
}
.block__slider .block__product .b_product--price {
  display: block;
  padding: 2px 0;
  width: 100%;
  color: #000;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-align: left;
}
.block__slider .block__product .b_product--price.__sale {
  position: relative;
  display: inline-block;
  width: auto;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #B91818;
}
.block__slider .block__product .b_product--price.__sale:after {
  content: ' ';
  position: absolute;
  top: 45%;
  left: -10%;
  right: -10%;
  display: block;
  height: 1px;
  background-color: #B91818;
}
.block__slider .block__product .b_product--footer .b_product--link {
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #000;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: PT Sans, sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: #F8D65B;
}
.block__slider .block__product .b_product--footer .b_product--link:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all .35s;
}
.block__slider .block__product .b_product--footer .b_product--link:hover {
  background-color: #F5CA5A;
}
.block__slider .block__product .b_product--footer .b_product--link:hover:after {
  height: 3px;
  opacity: .2;
}
.block__slider .block__product .b_product--footer .b_product--link.__clear {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.block__slider .block__product:hover .b_product--item:hover {
  position: relative;
}
.block__slider .block__product:hover .b_product--item:hover:after {
  content: ' ';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
  display: block;
  background-color: #fff;
  z-index: -1;
  box-shadow: 0 8px 30px #C8D1E0;
}
.block__slider.__table {
  margin-bottom: 0;
  padding-bottom: 30px;
}
.block__slider.__table .b_slider--wrapper {
  padding: 0;
}
.block__slider.__table .b_slider--wrapper .b_slider--overlay {
  display: none;
}
.block__slider.__table .b_slider--wrapper .b_slider--item {
  width: 100%;
}
.block__slider.__table .b_product--item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 135px;
  margin-bottom: 1px;
  background-color: #EDF0F6;
}
.block__slider.__table .block__product {
  position: relative;
}
.block__slider.__table .block__product:hover .b_product--item {
  position: relative;
  z-index: 10;
}
.block__slider.__table .block__product:hover .b_product--item:hover {
  z-index: 20;
}
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--body .block__params {
  position: relative;
}
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--body .block__params .b_params--item.__active {
  position: relative;
  top: -5px;
  margin-bottom: -10px;
  min-height: 145px;
  padding-top: 20px;
  border-right: 1px solid #fff;
}
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--head,
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--body,
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--body .block__params,
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--footer {
  z-index: 30;
}
.block__slider.__table .block__product:hover .b_product--item:hover .b_product--body .block__params .b_params--item.__active {
  background-color: #EFF2F7;
}
.block__slider.__table .b_product--head {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 190px;
  margin-left: 110px;
  padding: 10px 10px 0 10px;
  text-align: left;
}
.block__slider.__table .b_product--head .b_projects--preview {
  position: absolute;
  top: 10px;
  left: -110px;
  display: block;
  width: 105px;
  text-align: left;
}
.block__slider.__table .b_product--head .b_projects--preview .b_product--link {
  display: block;
  margin: 10px auto 0 auto;
  width: 95px;
  text-align: center;
}
.block__slider.__table .b_product--head .b_projects--preview .b_product--link:hover {
  background-color: transparent;
}
.block__slider.__table .b_product--head .b_projects--preview .b_product--link .b_product--img {
  max-width: 95px;
  max-height: 125px;
  mix-blend-mode: multiply;
}
.block__slider.__table .b_product--head .b_projects--icons {
  margin: 5px 0 10px 0;
}
.block__slider.__table .b_product--head .b_projects--icons .b_projects--ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.block__slider.__table .b_product--head .b_product--title {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.block__slider.__table .b_product--body {
  display: block;
  width: 100%;
  min-height: 135px;
  padding: 0 120px 0 300px;
}
.block__slider.__table .b_product--body .block__params {
  display: block;
  width: 100%;
  min-height: 135px;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 135px;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item {
  width: 20%;
  min-height: 135px;
  padding-top: 15px;
  border-right: 1px solid transparent;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay .b_params--layout {
  display: none;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd,
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd > SUB {
  display: block;
  color: #000;
  line-height: 18px;
  font-size: 13px;
  text-align: center;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd SUB,
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd > SUB SUB {
  display: block;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd:first-letter,
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item .b_params--overlay dd > SUB:first-letter {
  text-transform: uppercase;
}
.block__slider.__table .b_product--body .block__params .b_params--wrapper .b_params--item.__active {
  background-color: #E1E5EC;
  border-right: 1px solid #EDF0F6;
}
.block__slider.__table .b_product--footer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 120px;
  padding: 10px 10px 0 10px;
  border-right: 1px solid transparent;
}
.block__slider.__table .b_product--footer .b_product--price {
  padding: 5px 0 2px 0;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}
.block__slider.__table .b_product--footer .b_product--price.__sale {
  padding: 0;
  line-height: 18px;
  font-size: 14px;
}
.block__slider.__table .b_product--footer .b_product--link {
  width: 100px;
  margin: 5px 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.block__slider.__table .b_product--footer .b_product--button {
  position: relative;
  left: 10px;
  display: inline-block;
  width: 80px;
  color: #265197;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  background-color: transparent;
  transition: border .35s;
}
.block__slider.__table .b_product--footer .b_product--button:hover {
  text-decoration: none;
}
.block__slider.__table .b_product--footer .b_product--button:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  transition: all 0.35s;
  background: url(/img/svg/link_procent.svg) center #2f4e80 no-repeat;
}
.block__slider.__active .b_product--wrapper {
  display: block;
  width: 100%;
  text-align: left;
}
.block__slider.__active .b_product--item {
  display: block;
  width: 100%;
}
.block__slider.__active .b_product--head {
  display: block;
  width: 100%;
}
.block__slider.__active .b_projects--preview {
  display: block;
  width: 100%;
}
.block__slider.__active .b_projects--preview:hover .b_projects--link {
  background-color: transparent;
}
.block__slider.__active .b_projects--preview:hover .b_projects--link:hover {
  background-color: transparent;
}
.block__slider.__active .b_product--img {
  display: block;
  width: 100%;
}
.block__slider.__active .b_product--body {
  display: block;
  width: 100%;
}
.block__slider.__active .b_product--title {
  display: block;
  width: 100%;
}
.block__slider.__active .b_product--price {
  display: block;
  width: 100%;
  text-align: center;
}
.block__slider.__active .b_product--footer {
  display: block;
  width: 100%;
}
.block__slider.__active .b_product--wrapper {
  background: #fff;
}
.block__slider.__active .b_product--item {
  padding: 10px;
  background: #fff;
}
.block__slider.__active .b_product--head {
  display: block;
  width: 100%;
}
.block__slider.__active .b_projects--preview {
  position: relative;
  padding: 10px 0;
  background-color: #F7F8FC;
}
.block__slider.__active .b_product--img {
  display: block;
  width: auto;
  height: 108px;
  margin: 0 auto;
  mix-blend-mode: multiply;
}
.block__slider.__active .b_product--title {
  padding: 10px 15px 0 15px;
  color: #000;
  line-height: 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.block__slider.__active .b_product--body {
  width: 60%;
  min-width: 180px;
  margin: 0 auto;
}
.block__slider.__active .b_params--wrapper {
  padding-top: 10px;
  text-align: left;
}
.block__slider.__active .b_params--item SPAN {
  padding-right: 15px;
  color: #434343;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  border-right: 1px solid transparent;
}
.block__slider.__active .b_params--item DD {
  color: #434343;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-family: PT Sans, sans-serif;
}
.block__slider.__active .b_product--footer {
  padding: 10px 25px;
  text-align: center;
}
.block__slider.__active .b_product--footer .b_product--link {
  margin-top: 15px;
}
.block__slider.__active .b_product--footer .b_product--button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: PT Sans, sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: #2F4E80;
}
.block__slider.__active .b_product--footer .b_product--button:hover {
  background-color: #265197;
}
.block__slider.__active .block_params {
  display: block;
  width: 80%;
  margin: 20px auto 25px auto;
}
.block__slider.__active .block_params .b_params--wrapper {
  display: block;
  width: 100%;
}
.block__slider.__active .block_params .b_params--item {
  display: block;
  width: 100%;
}
.block__slider.__active .block_params .b_params--overlay {
  display: block;
  width: 100%;
}
.block__slider.__active .block_params .b_params--layout {
  color: #434343;
  line-height: 20px;
  font-size: 13px;
  font-family: PT Sans, sans-serif;
}
@media (max-width: 1200px) and (min-width: 1126px) {
  BODY .b_setups--body .b_setups--link {
    width: 25%;
  }
  BODY .b_setups--body .b_setups--link:last-child {
    display: none;
  }
  BODY .b_params--wrapper .b_params--item {
    width: 25% !important;
  }
  BODY .b_params--wrapper .b_params--item:last-child {
    display: none;
  }
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .block__slider.__active dd > SUB {
    display: none;
  }
  .block__slider.__active .b_product--footer .b_product--link {
    font-size: 15px;
  }
  .block__slider.__active .b_product--footer .b_product--button {
    font-size: 15px;
  }
}
/** Desktop: End **/
