.block__quote {
  display: block;
  width: 100%;
}
.b_quote--wrapper {
  display: block;
  width: 100%;
  margin: 30px 0 60px 0;
}
.b_quote--body {
  position: relative;
  display: block;
  width: 100%;
  margin: 30px 0;
  padding: 30px 30px 30px 220px;
  min-height: 210px;
  background-color: #EEF1F6;
}
.b_quote--preview {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  width: 160px;
  height: 150px;
}
.b_quote--img {
  display: block;
  width: 160px;
  height: 150px;
}
.b_quote--text {
  position: relative;
  display: block;
  width: 100%;
  color: #000;
  line-height: 30px;
  font-size: 18px;
  font-style: italic;
}
.b_quote--text:before {
  content: '«';
  position: absolute;
  left: -20px;
  top: 0;
  color: #2F4E80;
  line-height: 20px;
  font-size: 35px;
  width: 20px;
  height: 20px;
}
.b_quote--author {
  display: block;
  width: 100%;
  color: #2F4E80;
  line-height: 30px;
  font-size: 14px;
  font-style: italic;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .block__quote {
    display: block;
    width: auto;
    margin: 0 -15px;
    position: relative;
  }
  .block__quote .__header {
    padding: 0 15px;
  }
  .b_quote--wrapper {
    margin-bottom: 0;
  }
  .b_quote--body {
    padding: 20px 15px;
    margin-bottom: 0;
  }
  .b_quote--preview {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    height: 190px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }
  .b_quote--img {
    width: 100%;
    height: auto;
  }
  .b_quote--text {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding-left: 20px;
  }
  .b_quote--text:before {
    left: -5px;
  }
  .b_quote--author {
    display: block;
    width: 100%;
  }
}
/** Tablet: End **/
