.block__responds {
  display: block;
  width: 100%;
}
.b_respond--wrapper {
  display: block;
  width: 100%;
}
.b_respond--head {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
.b_respond--filter {
  display: inline-block;
  margin: 0 30px 15px 0;
  background-color: transparent;
  border: none;
  color: #265197;
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dashed #93A8CB;
  cursor: pointer;
}
.b_respond--filter:hover {
  border-bottom-color: transparent;
}
.b_respond--body {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding-left: 20px;
}
.b_respond--item {
  position: relative;
  display: block;
  width: 100%;
  margin: 40px 0;
  padding: 20px 20px 20px 170px;
  background-color: #EEF1F6;
}
.b_respond--link {
  display: block;
  position: absolute;
  left: -20px;
  top: -20px;
  max-width: 230px;
}
.b_respond--img {
  max-width: 160px;
  max-height: 230px;
}
.b_respond--title {
  display: block;
  width: 100%;
  margin: 6px 0;
  color: #000;
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_respond--text {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}
.b_respond--spoiler {
  display: block;
  width: 100%;
}
.b_respond--spoiler.__active .b_respond--layout {
  display: block;
}
.b_respond--layout {
  display: block;
  width: 100%;
}
.b_respond--button {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #265197;
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dashed #93A8CB;
  cursor: pointer;
}
.b_respond--button:hover {
  border-bottom-color: transparent;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_respond--spoiler.__active .b_respond--layout {
    display: block;
  }
  .b_respond--layout {
    display: none;
  }
}
/** Tablet: End **/
