.block__rules {
  display: block;
  width: 100%;
}
.b_rules--wrapper {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.b_rules--head {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  line-height: 20px;
  font-size: 18px;
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
  background-color: #213C68;
}
.b_rules--body {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: #EDF0F6;
}
.b_rules--link {
  display: inline-block;
  width: 30%;
  margin-right: 3.33%;
  color: #265197;
  line-height: 20px;
  font-size: 14px;
}
.b_rules--link:hover {
  text-decoration: none;
}
.b_rules--img {
  display: inline-block;
  height: 65px;
  float: left;
  margin-right: 20px;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_rules--link {
    width: 100%;
    padding-bottom: 15px;
  }
  .b_rules--head {
    padding: 5px 0;
    line-height: 20px;
    font-size: 14px;
  }
  .b_board--footer {
    line-height: 20px;
  }
}
/** Tablet: End **/
