.block__selection {
  display: block;
  position: relative;
  width: 100%;
}
.b_selection--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.b_selection--wrapper.__catalog {
  align-items: inherit;
  padding-bottom: 30px;
}
.b_selection--box {
  display: inline-block;
  width: 100%;
}
.b_selection--item {
  display: block;
  width: 100%;
}
.b_selection--item.__trio {
  display: inline-block;
  width: 66%;
}
.b_selection--item.__single {
  display: inline-block;
  width: 31%;
  margin-left: 2%;
}
.b_selection--head {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.b_selection--header {
  display: block;
  width: 100%;
  height: 28px;
}
.b_selection--ui {
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/arrows/dropdown-arrow-top.svg");
}
.b_selection--body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 15px 10px 15px;
  background: #808DA4;
}
.b_selection--column {
  display: inline-block;
  width: 100%;
}
.b_selection--layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.b_selection--link {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  color: #FFF;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
.b_selection--link:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.b_selection--head .b_selection--header > * {
  line-height: 18px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  BODY .b_selection--body {
    display: none;
  }
  .b_selection--head {
    padding: 0;
  }
  .b_selection--layout.__active .b_selection--ui {
    background-image: url("/img/svg/arrows/dropdown-arrow-bottom.svg");
  }
  .b_selection--layout.__active .b_selection--body {
    display: block;
    height: auto;
    padding: 10px 10px 0 10px;
  }
  .b_selection--layout.__active .b_selection--head {
    padding: 0 0 10px 0;
  }
  BODY .b_selection--head .b_selection--header > * {
    line-height: 24px;
    font-size: 20px;
  }
  .b_selection--body {
    min-height: auto;
    display: none;
    margin-bottom: 30px;
  }
  .b_selection--item {
    width: 100% !important;
    padding: 25px 0;
    border-bottom: 1px solid #93A8CB;
  }
  .b_selection--item:first-child {
    padding-top: 0;
  }
  .b_selection--item .b_selection--layout {
    display: block;
  }
  .b_selection--item .b_selection--layout .b_selection--link {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  .b_selection--item .b_selection--body {
    margin-bottom: 0;
  }
  .b_selection--item.__single:after,
  .b_selection--body:after {
    content: ' ';
    display: block;
    clear: both;
  }
  BODY .m_grid--column .b_selection--link {
    display: block;
    width: 100%;
  }
  BODY .b_selection--item.__single {
    margin-left: 0;
  }
  BODY .b_selection--item.__single .b_selection--body .b_selection--link {
    width: 33.33%;
  }
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column {
    width: 33%;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column {
    width: 50%;
  }
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column .b_selection--link {
    width: 100%;
  }
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column:nth-child(3),
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column:nth-child(6) {
    width: 100%;
  }
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column:nth-child(3) .b_selection--link,
  BODY .b_selection--item.__trio .b_selection--body .b_selection--column:nth-child(6) .b_selection--link {
    width: 50%;
  }
}
/** Tablet: End **/
/** SmartPhone: Start **/
@media (max-width: 576px) {
  BODY .b_selection--item .b_selection--layout .m_grid--column {
    width: 50%;
  }
  BODY .b_selection--item .b_selection--layout .m_grid--column:nth-child(3) {
    width: 100%;
  }
  BODY .b_selection--item .b_selection--layout .m_grid--column:nth-child(3) .b_selection--link {
    display: inline-block;
    width: 50%;
  }
  BODY .b_selection--item.__single .b_selection--body .b_selection--link {
    width: 50%;
  }
}
/** SmartPhone: End **/
