.block__services {
  display: block;
  width: 100%;
}
.b_services--text {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  color: #000;
  line-height: 25px;
  font-size: 14px;
}
.b_services--list {
  display: flex;
  justify-content: end;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.b_services--item {
  position: relative;
  display: block;
  width: 30%;
  margin: 0 3.3% 3% 0;
  padding: 15px;
  text-decoration: none;
  background-color: #fff;
  z-index: 5;
}
.b_services--item:hover:after {
  content: ' ';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
  display: block;
  background-color: #fff;
  z-index: -1;
  box-shadow: 0 8px 30px #C8D1E0;
}
.b_services--head {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: right;
  background-color: #f7f8fc;
}
.b_services--body {
  display: block;
  width: 100%;
}
.b_services--img {
  display: inline-block;
  width: 100%;
}
.b_services--title {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #000;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
}
.b_services--description {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  color: #434343;
  line-height: 25px;
  font-size: 14px;
  text-decoration: none;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .b_services--img {
    max-height: 100px;
    width: auto;
  }
  .b_services--list {
    justify-content: space-between;
  }
  .b_services--item {
    width: 48%;
    margin: 2% 0;
  }
}
/** Desktop: End **/
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_services--item {
    width: 100%;
  }
}
/** Tablet: End **/
