.block__sorting {
  display: block;
  width: 100%;
}
.b_sorting--wrapper {
  display: block;
  width: 100%;
}
.b_sorting--layout {
  display: inline-block;
  padding: 5px 0;
}
.b_sorting--label {
  display: block;
  width: 100%;
}
.b_sorting--label .select {
  width: 220px;
  margin-left: 10px;
}
.b_sorting--text {
  color: #000;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  white-space: nowrap;
}
/** Tablet: Start **/
@media (max-width: 768px) {
  .b_sorting--label {
    display: flex;
    width: 100%;
  }
  .b_sorting--label .b_sorting--layout {
    width: 130px;
  }
  .b_sorting--label .select {
    width: 100%;
  }
}
/** Tablet: End **/
