.block__submenu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 5;
  cursor: pointer;
}
.b_submenu--ui {
  display: inline-block;
  padding: 15px;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/svg/arrows/arrow-right-small-blue.svg);
}
.__glow .b_submenu--ui {
  background-image: url("/img/svg/arrows/arrow-right-small-glow.svg");
}
.b_submenu--wrapper {
  position: relative;
  left: 45px;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
}
.b_menu--item.__open .b_submenu--wrapper {
  overflow: inherit;
  width: 855px;
  z-index: 150;
}
.b_menu--item.__open .b_submenu--list {
  left: 0;
  opacity: 1;
  transition: left .35s, opacity .35s;
}
.b_submenu--list {
  position: absolute;
  top: -30px;
  left: 50px;
  display: block;
  padding: 20px;
  font-size: 0;
  opacity: 0;
  background-color: #ECEFF5;
}
.b_submenu--item {
  display: inline-block;
  padding-right: 15px;
}
.b_submenu--link {
  display: block;
  color: #1B3866;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
.b_submenu--link.__bold {
  font-weight: 500;
  font-family: "Roboto-Medium", sans-serif;
}
.b_submenu--link:hover {
  text-decoration: underline;
}
