.block__superiority {
  display: block;
  width: 100%;
}
.block__superiority .b_content--header:after {
  content: ':';
  display: inline-block;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}
.b_superiority--layout {
  position: relative;
  display: block;
  width: 100%;
}
.b_superiority--layout.__product .b_superiority--item {
  padding-right: 20px;
}
.b_superiority--layout.__product .b_superiority--text {
  font-size: 14px;
}
.b_superiority--layout.__icons .b_superiority--item {
  padding-left: 75px;
}
.b_superiority--item {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding-right: 30px;
}
.b_superiority--icons {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
}
.__product .b_superiority--icons {
  top: -10px;
}
.b_superiority--title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.b_superiority--text {
  position: relative;
  display: block;
  margin: 10px 0;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}
.b_superiority--ui {
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/svg/arrows/dropdown-arrow-top.svg");
}
.b_superiority--wrapper.__symbol .b_superiority--symbol {
  position: absolute;
  top: 0;
  left: -20px;
  display: block;
  font-weight: 900;
  font-size: 70px;
  line-height: 50px;
  color: #EBEDF2;
}
.b_superiority--wrapper.__active .b_superiority--ui {
  background-image: url("/img/svg/arrows/dropdown-arrow-bottom.svg");
}
.b_superiority--wrapper.__open .b_superiority--layout {
  display: block;
}
.b_superiority--wrapper.__open .b_content--header:after {
  content: none;
  background-image: none;
}
.b_superiority--wrapper.__open .b_superiority--ui {
  display: none;
}
.b_superiority--wrapper.__product {
  margin-top: 30px;
  margin-bottom: 30px;
}
.b_superiority--wrapper.__product .b_superiority--item {
  margin-bottom: 30px;
}
/** Desktop: Start **/
@media (max-width: 1126px) {
  .block__superiority .b_content--header:after {
    display: none;
  }
  .b_superiority--ui {
    display: inline-block;
  }
  .b_superiority--layout {
    display: none;
  }
  .b_superiority--wrapper.__active .b_superiority--layout {
    display: block;
  }
}
/** Desktop: End **/
