.block__trust {
  display: block;
  width: 100%;
}
.b_trust--item {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.b_trust--item.__active:hover .b_trust--link {
  color: #385A91;
  border-bottom: 1px solid #385A91;
}
.b_trust--layout {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 15px;
}
.b_trust--header {
  margin: 10px 0;
}
.b_trust--overlay {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  text-align: center;
}
.b_trust--overlay .b_trust--item {
  width: 115px;
  margin-bottom: 10px;
}
.b_trust--overlay .b_trust--item .b_trust--img {
  width: 100%;
}
.b_overlay--layout.__widgets .b_trust--overlay {
  padding: 0;
}
.b_trust--img {
  display: block;
  width: 130px;
  height: 60px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
}
.b_trust--link {
  display: inline-block;
  margin-top: 10px;
  color: #C4C4C4;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  cursor: default;
  /*&:hover {
    color: #385A91;
    border-bottom: 1px solid #385A91;
  }*/
}
